<div>
    <div>
        <img src="" />
    </div>
</div>
<div>
    <div>
        <span style="font-family: 幼圆; font-size: 1.5em;"></span><span style="font-family: 幼圆;
            font-size: 1.5em;">型号</span>
    </div>
    <div>
        <span style="font-family: 幼圆; font-size: 1.5em;">尺寸</span> <span style="font-family: 幼圆;
            font-size: 1.5em;"></span>
    </div>
</div>
<div>
    <div>
        <div>
            <a href='http://item.taobao.com/auction/item_detail.jhtml?item_id=807448233c7781f63d78092652d103e6&x_id=0xid'
                target="_blank">
                <img src="http://img07.taobaocdn.com/bao/uploaded/i7/T1rIplXX6hFJQyV.UV_022236.jpg"
                    alt="" />
            </a>
        </div>
        <div>
            <a href="http://item.taobao.com/auction/item_detail.jhtml?item_id=807448233c7781f63d78092652d103e6&x_id=0xid"
                target="_blank">【格格屋】出口日本/古典风格/藤制沙发/藤编沙发床/藤艺/pt3502 </a>2999.99
        </div>
    </div>
    <div>
        <div>
            <a href='http://item.taobao.com/auction/item_detail.jhtml?item_id=7e5ecdc2f7ddc55beae115b9ec569b71&x_id=0xid'
                target="_blank">
                <img src="http://img01.taobaocdn.com/bao/uploaded/i1/T1cZtlXdzmFJNmBEoY_030743.jpg"
                    alt="" />
            </a>
        </div>
        <div>
            <a href="http://item.taobao.com/auction/item_detail.jhtml?item_id=7e5ecdc2f7ddc55beae115b9ec569b71&x_id=0xid"
                target="_blank">【格格屋】出口日本/欧式风格/美式双人沙发/皮沙发/pt598-2P </a>1799.99
        </div>
    </div>
    <div>
        <div>
            <a href='http://item.taobao.com/auction/item_detail.jhtml?item_id=6e2289772dd36e6d188d63a570088a63&x_id=0xid'
                target="_blank">
                <img src="http://img08.taobaocdn.com/bao/uploaded/i8/T1MIllXlnBFJO6t1wV_020321.jpg"
                    alt="" />
            </a>
        </div>
        <div>
            <a href="http://item.taobao.com/auction/item_detail.jhtml?item_id=6e2289772dd36e6d188d63a570088a63&x_id=0xid"
                target="_blank">【格格屋】出口日本/欧式风格/布艺沙发/双人沙发/沙发床/sb836 </a>1499.99
        </div>
    </div>
</div>
