<div>
    <img src="http://images.google.cn/intl/zh-CN_cn/images/logos/images_logo_lg.gif" />
    <img src="http://www.google.cn/intl/zh-CN/images/logo_cn.gif" />
    <img src="http://images.google.cn/intl/zh-CN_cn/images/logos/images_logo_lg.gif" />
    <img src="http://www.google.cn/intl/zh-CN/images/logo_cn.gif" />
</div>
<div>
    <div>
        <span style="font-family: 幼圆; font-size: 1.5em;">aa</span> <span style="font-family: 幼圆;
            font-size: 1.5em;">aa</span>
    </div>
    <div>
        <span style="font-family: 幼圆; font-size: 1.5em;">bb</span> <span style="font-family: 幼圆;
            font-size: 1.5em;">bb</span>
    </div>
    <div>
        <span style="font-family: 幼圆; font-size: 1.5em;">cc</span> <span style="font-family: 幼圆;
            font-size: 1.5em;">cc</span>
    </div>
    <div>
        <span style="font-family: 幼圆; font-size: 1.5em;">dd</span> <span style="font-family: 幼圆;
            font-size: 1.5em;">dd</span>
    </div>
    <div>
        <span style="font-family: 幼圆; font-size: 1.5em;">ee</span> <span style="font-family: 幼圆;
            font-size: 1.5em;">de</span>
    </div>
</div>
