<div>
    <div>
        <img src="http://www.google.cn/intl/zh-CN/images/logo_cn.gif" />
    </div>
    <div>
        <img src="http://www.google.cn/intl/zh-CN/images/logo_cn.gif" />
    </div>
    <div>
        <img src="http://img.baidu.com/img/unlogo01.gif" />
    </div>
    <div>
        <img src="" />
    </div>
</div>
<div>
    <div>
        <span style="font-family: 幼圆; font-size: 1.5em;">型号</span> <span style="font-family: 幼圆;
            font-size: 1.5em;">2</span>
    </div>
    <div>
        <span style="font-family: 幼圆; font-size: 1.5em;">尺寸</span> <span style="font-family: 幼圆;
            font-size: 1.5em;">f3f23</span>
    </div>
    <div>
        <span style="font-family: 幼圆; font-size: 1.5em;"></span><span style="font-family: 幼圆;
            font-size: 1.5em;"></span>
    </div>
</div>
<div>
    {template:list DisplayName="类似商品" DataType="SelectItem"}
    <div>
        <div>
            <a href="" target="_blank">
                <img src="{2}" alt="" />
            </a>
        </div>
        <div>
            <a href="" target="_blank">{1}</a>
        </div>
        {/template}
    </div>
