<?xml version="1.0"?>
<BaseConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<Dbconnectstring>server=.\sqlexpress;integrated security=sspi;Database=SLS_BBS</Dbconnectstring>
  <Tableprefix>dnt_</Tableprefix>
  <Forumpath>/Forum/</Forumpath>
  <Dbtype>SqlServer</Dbtype>
  <Founderuid>1</Founderuid>
</BaseConfigInfo>