BODY {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
UL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
FORM {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H1 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Verdana, Arial; PADDING-TOP: 0px
}
H2 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Verdana, Arial; PADDING-TOP: 0px
}
H3 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Verdana, Arial; PADDING-TOP: 0px
}
H4 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Verdana, Arial; PADDING-TOP: 0px
}
H5 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Verdana, Arial; PADDING-TOP: 0px
}
UL {
	LIST-STYLE-TYPE: none
}
IMG {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
BODY {
	FONT-SIZE: 12px
}
TD {
	FONT-SIZE: 12px
}
TH {
	FONT-SIZE: 12px
}
BODY {
	COLOR: #21366d
}
.clear {
	LINE-HEIGHT: 0px; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; FONT-SIZE: 0px
}
P {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
A:link {
	COLOR: #21366d
}
A:visited {
	COLOR: #21366d
}
A:hover {
	COLOR: #ff0000
}
A:active {
	COLOR: #ff0000
}
.wrap {
	MARGIN: 10px auto 0px; WIDTH: 968px
}
.cyellow {
	COLOR: #ffff00
}
A.cyellow:link {
	COLOR: #ffff00
}
A.cyellow:visited {
	COLOR: #ffff00
}
.cyellow A:link {
	COLOR: #ffff00
}
.cyellow A:visited {
	COLOR: #ffff00
}
.cblue {
	FONT-FAMILY: Arial; COLOR: #0000ff
}
A.cblue:link {
	COLOR: #0000ff
}
A.cblue:visited {
	COLOR: #0000ff
}
A.cblue:hover {
	COLOR: #ff0000
}
A.cblue:active {
	COLOR: #ff0000
}
.cblue A:link {
	COLOR: #0000ff
}
.cblue A:visited {
	COLOR: #0000ff
}
.cblue A:hover {
	COLOR: #ff0000
}
.cblue A:active {
	COLOR: #ff0000
}
.cred {
	COLOR: #ff0000
}
A.cred:link {
	COLOR: #ff0000
}
A.cred:visited {
	COLOR: #ff0000
}
.cred A:link {
	COLOR: #ff0000
}
.cred A:visited {
	COLOR: #ff0000
}
.cfont1 {
	COLOR: #ff0000; FONT-WEIGHT: bold
}
A.cfont1:link {
	COLOR: #ff0000
}
A.cfont1:visited {
	COLOR: #ff0000
}
.cfont1 A:link {
	COLOR: #ff0000
}
.cfont1 A:visited {
	COLOR: #ff0000
}
.cfont2 {
	COLOR: #ff0000; FONT-SIZE: 14px
}
A.cfont2:link {
	COLOR: #ff0000; FONT-SIZE: 14px
}
A.cfont2:visited {
	COLOR: #ff0000; FONT-SIZE: 14px
}
.cfont2 A:link {
	COLOR: #ff0000; FONT-SIZE: 14px
}
.cfont2 A:visited {
	COLOR: #ff0000; FONT-SIZE: 14px
}
.cfont3 {
	COLOR: #fe6601; FONT-WEIGHT: bold
}
A.cfont3:link {
	COLOR: #fe6601; FONT-WEIGHT: bold
}
A.cfont3:visited {
	COLOR: #fe6601; FONT-WEIGHT: bold
}
.cfont3 A:link {
	COLOR: #fe6601; FONT-WEIGHT: bold
}
.cfont3 A:visited {
	COLOR: #fe6601; FONT-WEIGHT: bold
}
.cfont4 {
	COLOR: #545454
}
.cfont4 TD {
	COLOR: #545454
}
A.cfont4:link {
	COLOR: #545454
}
A.cfont4:visited {
	COLOR: #545454
}
.cfont4 A:link {
	COLOR: #545454
}
.cfont4 A:visited {
	COLOR: #545454
}
.cfont5 {
	COLOR: #ff0000; FONT-WEIGHT: bold
}
A.cfont5:link {
	COLOR: #ff0000; FONT-WEIGHT: bold
}
A.cfont5:visited {
	COLOR: #ff0000; FONT-WEIGHT: bold
}
.cfont5 A:link {
	COLOR: #ff0000; FONT-WEIGHT: bold
}
.cfont5 A:visited {
	COLOR: #ff0000; FONT-WEIGHT: bold
}
.cfont6 {
	COLOR: #fff
}
A.cfont6:link {
	COLOR: #fff
}
A.cfont6:visited {
	COLOR: #fff
}
.cfont6 A:link {
	COLOR: #fff
}
.cfont6 A:visited {
	COLOR: #fff
}
.cfont7 {
	COLOR: #990000; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
A.cfont7:link {
	COLOR: #990000; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
A.cfont7:visited {
	COLOR: #990000; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
A.cfont7:hover {
	COLOR: #ff0000
}
A.cfont7:active {
	COLOR: #ff0000
}
.t_l {
	TEXT-ALIGN: left
}
.t_r {
	TEXT-ALIGN: right
}
.t_c {
	TEXT-ALIGN: center
}
.kong10 {
	LINE-HEIGHT: 0px; HEIGHT: 10px; FONT-SIZE: 0px
}
.input {
	BORDER-BOTTOM: #d0e4ff 1px solid; BORDER-LEFT: #d0e4ff 1px solid; FONT-FAMILY: Verdana, Arial; COLOR: #004d9d; BORDER-TOP: #d0e4ff 1px solid; BORDER-RIGHT: #d0e4ff 1px solid
}
.focus {
	BORDER-BOTTOM: #8bc0e7 1px solid; BORDER-LEFT: #8bc0e7 1px solid; PADDING-BOTTOM: 1px; PADDING-LEFT: 1px; WIDTH: 391px; PADDING-RIGHT: 1px; FLOAT: left; HEIGHT: 239px; MARGIN-LEFT: 10px; BORDER-TOP: #8bc0e7 1px solid; BORDER-RIGHT: #8bc0e7 1px solid; PADDING-TOP: 1px
}
.news {
	BORDER-BOTTOM: #8bc0e7 1px solid; BORDER-LEFT: #8bc0e7 1px solid; WIDTH: 320px; BACKGROUND: url(/images/info/public/img_04.gif) repeat-x 50% bottom; FLOAT: left; HEIGHT: 241px; MARGIN-LEFT: 10px; OVERFLOW: hidden; BORDER-TOP: #8bc0e7 1px solid; BORDER-RIGHT: #8bc0e7 1px solid
}
.topnews {
	TEXT-ALIGN: center; LINE-HEIGHT: 24px; MARGIN-TOP: 8px
}
.topnews H1 {
	FONT-FAMILY: "ºÚÌå"; FONT-SIZE: 16px; FONT-WEIGHT: normal
}
.topnews H1 A:link {
	COLOR: #ff0000
}
.topnews H1 A:visited {
	COLOR: #ff0000
}
.topnews .list1 {
	MARGIN: 8px 0px 0px 10px
}
.list1 LI {
	TEXT-ALIGN: left; LINE-HEIGHT: 22px; PADDING-LEFT: 12px; BACKGROUND: url(/images/info/public/dot1.gif) no-repeat 0px 8px
}
.list1 .line {
	LINE-HEIGHT: 1px; MARGIN: 7px 0px; BACKGROUND: url(/images/info/public/line_01.gif) repeat-x; HEIGHT: 1px; FONT-SIZE: 1px
}
.list2 .line {
	LINE-HEIGHT: 1px; MARGIN: 7px 0px; BACKGROUND: url(/images/info/public/line_01.gif) repeat-x; HEIGHT: 1px; FONT-SIZE: 1px
}
.list3 .line {
	LINE-HEIGHT: 1px; MARGIN: 7px 0px; BACKGROUND: url(/images/info/public/line_01.gif) repeat-x; HEIGHT: 1px; FONT-SIZE: 1px
}
.ad1 {
	FLOAT: left
}
.new_zhongjiang {
	BORDER-BOTTOM: #8bc0e7 1px solid; BORDER-LEFT: #8bc0e7 1px solid; WIDTH: 725px; FLOAT: left; MARGIN-LEFT: 10px; OVERFLOW: hidden; BORDER-TOP: #8bc0e7 1px solid; BORDER-RIGHT: #8bc0e7 1px solid
}
.new_zhongjiang .new_roll {
	BACKGROUND-COLOR: #ebf4fd; WIDTH: 610px; FLOAT: right
}
.new_zhongjiang .new_roll .news_rolling {
	WIDTH: 462px; FLOAT: left; HEIGHT: 59px
}
.new_zhongjiang .new_roll .news_rolling UL {
	MARGIN: 5px 0px 0px 5px; WIDTH: 462px; BACKGROUND: url(/images/info/public/img_62.gif) no-repeat right 0px
}
.new_zhongjiang .new_roll .news_rolling UL LI {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 18px; MARGIN: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 0px; BACKGROUND: url(/images/info/public/bon.gif) no-repeat left 8px; COLOR: #000099; PADDING-TOP: 5px
}
.news_rolling A:link {
	TEXT-DECORATION: none
}
.news_rolling A:visited {
	TEXT-DECORATION: none
}
.news_rolling A:hover {
	TEXT-DECORATION: underline
}
.new_zhongjiang .new_roll .rt {
	LINE-HEIGHT: 22px; MARGIN: 8px 10px 0px 0px; WIDTH: 95px; FLOAT: right; FONT-WEIGHT: bold; _padding-left: 20px
}
.mane_blue {
	COLOR: #000099; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.mtr_01 {
	TEXT-ALIGN: left; BACKGROUND-COLOR: #edf5f8; TEXT-INDENT: 10px
}
.mtr_02 {
	TEXT-ALIGN: left; BACKGROUND-COLOR: #f9f9fb; TEXT-INDENT: 10px
}
.zhongjiang {
	WIDTH: 727px; BACKGROUND: url(/images/info/public/img_05.gif); FLOAT: left; HEIGHT: 65px; MARGIN-LEFT: 10px; OVERFLOW: hidden
}
.zhongjiang .tab {
	MARGIN-TOP: 6px; FLOAT: left
}
.zhongjiang .tab1 {
	TEXT-ALIGN: center; LINE-HEIGHT: 26px; WIDTH: 53px; BACKGROUND: #ecf5fe; HEIGHT: 26px; CURSOR: pointer; FONT-WEIGHT: bold
}
.zhongjiang .tab2 {
	BORDER-BOTTOM: #fff 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #fff 1px solid; LINE-HEIGHT: 24px; MARGIN-TOP: 1px; WIDTH: 51px; HEIGHT: 24px; COLOR: #fff; BORDER-TOP: #fff 1px solid; CURSOR: pointer; BORDER-RIGHT: #fff 0px solid
}
.zhongjiang .content {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 22px; MARGIN-TOP: 6px; PADDING-LEFT: 20px; WIDTH: 445px; PADDING-RIGHT: 0px; BACKGROUND: #ecf5fe; FLOAT: left; HEIGHT: 49px; OVERFLOW: hidden; PADDING-TOP: 5px
}
.zhongjiang .content LI {
	TEXT-INDENT: 12px; BACKGROUND: url(/images/info/public/dot1.gif) no-repeat 1px center
}
.zhongjiang .r {
	LINE-HEIGHT: 22px; MARGIN: 13px; FLOAT: right; COLOR: #fff; FONT-WEIGHT: bold; _margin-right: 8px
}
.zhongjiang .r A:link {
	COLOR: #fff
}
.zhongjiang .r A:visited {
	COLOR: #fff
}
.zhongjiang .r A:hover {
	COLOR: #ffff00
}
.zhongjiang .r A:active {
	COLOR: #ffff00
}
.kaijiang {
	BORDER-BOTTOM: #8bc0e7 1px solid; BORDER-LEFT: #8bc0e7 1px solid; MIN-HEIGHT: 431px; WIDTH: 228px; BACKGROUND: #ebf4fd; FLOAT: left; OVERFLOW: hidden; BORDER-TOP: #8bc0e7 1px solid; BORDER-RIGHT: #8bc0e7 1px solid; _height: 431px
}
.titlebar1 {
	BACKGROUND: url(/images/info/public/img_07.gif); HEIGHT: 29px
}
.titlebar2 {
	BACKGROUND: url(/images/info/public/img_020.gif); HEIGHT: 29px
}
.titlebar1 H1 {
	MARGIN: 5px 0px 0px 8px; PADDING-LEFT: 15px; BACKGROUND: url(/images/info/public/img_02.gif) no-repeat; FLOAT: left; COLOR: #000; FONT-SIZE: 14px; PADDING-TOP: 2px; _margin-left: 4px
}
.titlebar2 H1 {
	MARGIN: 5px 0px 0px 8px; PADDING-LEFT: 15px; BACKGROUND: url(/images/info/public/img_02.gif) no-repeat; FLOAT: left; COLOR: #000; FONT-SIZE: 14px; PADDING-TOP: 2px; _margin-left: 4px
}
.kaijiang .tab {
	FLOAT: right; MARGIN-RIGHT: 0px
}
.kaijiang .tab LI {
	TEXT-ALIGN: center; MARGIN-TOP: 2px; WIDTH: 59px; FLOAT: left; CURSOR: pointer; MARGIN-RIGHT: 2px
}
.kaijiang .tab1 {
	LINE-HEIGHT: 30px; BACKGROUND: url(/images/info/public/img_08.gif); HEIGHT: 32px; COLOR: #fff; FONT-WEIGHT: bold
}
.kaijiang .tab2 {
	LINE-HEIGHT: 29px; BACKGROUND: url(/images/info/public/img_09.gif); HEIGHT: 27px
}
#kaijiangdatalist {
	WIDTH: 228px
}
.xinwen {
	BORDER-BOTTOM: #8bc0e7 1px solid; BORDER-LEFT: #8bc0e7 1px solid; WIDTH: 393px; FLOAT: left; HEIGHT: 431px; MARGIN-LEFT: 10px; OVERFLOW: hidden; BORDER-TOP: #8bc0e7 1px solid; BORDER-RIGHT: #8bc0e7 1px solid
}
.xinwen .titlebar {
	LINE-HEIGHT: 29px; BACKGROUND: url(/images/info/public/img_010.gif); HEIGHT: 29px; CLEAR: both; OVERFLOW: hidden
}
.zc .titlebar H1 {
	TEXT-INDENT: -9999px; WIDTH: 115px; BACKGROUND: url(/images/info/public/img_011.gif) no-repeat; FLOAT: left; HEIGHT: 29px
}
.szc .titlebar H1 {
	TEXT-INDENT: -9999px; WIDTH: 115px; BACKGROUND: url(/images/info/public/img_012.gif) no-repeat; FLOAT: left; HEIGHT: 29px
}
.titlebar SPAN {
	FLOAT: right; MARGIN-RIGHT: 10px
}
.titlebar SPAN A:link {
	COLOR: #fff
}
.titlebar SPAN A:visited {
	COLOR: #fff
}
.titlebar SPAN A:hover {
	COLOR: #ffff00
}
.titlebar SPAN A:active {
	COLOR: #ffff00
}
.xinwen .list2 {
	MARGIN: 5px 5px 5px 10px
}
.list2 LI {
	LINE-HEIGHT: 22px; TEXT-INDENT: 12px; BACKGROUND: url(/images/info/public/dot1.gif) no-repeat 0px 8px; CLEAR: both
}
.list3 LI {
	LINE-HEIGHT: 22px; TEXT-INDENT: 12px; BACKGROUND: url(/images/info/public/dot3.gif) no-repeat 0px 8px; CLEAR: both
}
.list2 LI .t {
	FLOAT: left
}
.list2 LI .date {
	FLOAT: right; COLOR: #999
}
.kjbox {
	MARGIN-TOP: 5px; WIDTH: 280px; BORDER-TOP: #8cc0e8 1px solid
}
.kjbox DIV {
	LINE-HEIGHT: 22px; WIDTH: 280px
}
.nJiang_1 {
	TEXT-INDENT: 18px; BACKGROUND: url(/images/info/public/npic_gc_xuhao.gif) no-repeat 0px 3px; MARGIN-LEFT: 7px
}
.nJiang_2 {
	TEXT-INDENT: 18px; BACKGROUND: url(/images/info/public/npic_gc_xuhao.gif) no-repeat 0px -18px; MARGIN-LEFT: 7px
}
.nJiang_R {
	TEXT-INDENT: 18px; BACKGROUND: url(/images/info/public/npic_gc_xuhao.gif) no-repeat 0px -40px; MARGIN-LEFT: 7px
}
.nJiang_G {
	TEXT-INDENT: 18px; BACKGROUND: url(/images/info/public/npic_gc_xuhao.gif) no-repeat 0px -62px; MARGIN-LEFT: 7px
}
.cz {
	BORDER-BOTTOM: #fff 1px solid; TEXT-INDENT: 25px; BACKGROUND: url(/images/info/public/img_013.gif) #d9ebf9 no-repeat 10px 8px
}
.cz A {
	FONT-WEIGHT: bold
}
.kaijiang .number {
	TEXT-INDENT: 25px; FONT-FAMILY: Arial; BACKGROUND: #ecf5fe; HEIGHT: 26px; COLOR: #ff0000; FONT-SIZE: 14px; FONT-WEIGHT: bold; PADDING-TOP: 2px
}
.kaijiang .number SPAN {
	COLOR: #21366d
}
.gc {
	TEXT-INDENT: 25px; BACKGROUND: url(/images/info/public/zs.gif) #ecf5fe no-repeat 5px 3px
}
.jmoney {
	TEXT-INDENT: 25px; BACKGROUND: url(/images/info/public/jmoney.gif) #ecf5fe no-repeat 5px 3px
}
.sjh {
	TEXT-INDENT: 25px
}
.scroll {
	LINE-HEIGHT: 25px; MARGIN-TOP: 5px; WIDTH: 228px; HEIGHT: 25px; OVERFLOW: hidden; BORDER-TOP: #8bc0e7 1px solid
}
.scroll A {
	WIDTH: 113px; DISPLAY: block; FLOAT: left; HEIGHT: 25px
}
.scroll A.s1:link {
	BACKGROUND: url(/images/info/public/img_014.gif); BORDER-RIGHT: #8bc0e7 1px solid
}
.scroll A.s1:visited {
	BACKGROUND: url(/images/info/public/img_014.gif); BORDER-RIGHT: #8bc0e7 1px solid
}
.scroll A.s1:hover {
	BACKGROUND: url(/images/info/public/img_014.gif) 0px -25px
}
.scroll A.s1:active {
	BACKGROUND: url(/images/info/public/img_014.gif) 0px -25px
}
.scroll A.s2:link {
	BACKGROUND: url(/images/info/public/img_015.gif)
}
.scroll A.s2:visited {
	BACKGROUND: url(/images/info/public/img_015.gif)
}
.scroll A.s2:hover {
	BACKGROUND: url(/images/info/public/img_015.gif) 0px -25px
}
.scroll A.s2:active {
	BACKGROUND: url(/images/info/public/img_015.gif) 0px -25px
}
.right {
	WIDTH: 322px; FLOAT: left; MARGIN-LEFT: 10px
}
.rbox {
	BORDER-BOTTOM: #8bc0e7 1px solid; BORDER-LEFT: #8bc0e7 1px solid; WIDTH: 320px; OVERFLOW: hidden; BORDER-TOP: #8bc0e7 1px solid; BORDER-RIGHT: #8bc0e7 1px solid
}
.rbox .titlebar1 .tab {
	FLOAT: left
}
.rbox .titlebar1 .tab LI {
	TEXT-ALIGN: center; MARGIN-TOP: 2px; WIDTH: 81px; FLOAT: left; MARGIN-LEFT: 2px; CURSOR: pointer
}
.rbox .titlebar1 .tab1 {
	LINE-HEIGHT: 30px; BACKGROUND: url(/images/info/public/img_016.gif); HEIGHT: 32px; COLOR: #fff; FONT-WEIGHT: bold
}
.rbox .titlebar1 .tab2 {
	LINE-HEIGHT: 29px; BACKGROUND: url(/images/info/public/img_017.gif); HEIGHT: 27px
}
.rbox .titlebar1 .more {
	LINE-HEIGHT: 29px; FLOAT: right; HEIGHT: 28px; MARGIN-RIGHT: 10px
}
.rbox .titlebar2 .more {
	LINE-HEIGHT: 29px; FLOAT: right; HEIGHT: 28px; MARGIN-RIGHT: 10px
}
.rjfa {
	HEIGHT: 204px; OVERFLOW: hidden
}
.rjfa .titlebar1 .tab {
	FLOAT: right
}
.rjfa .titlebar1 .tab LI {
	LINE-HEIGHT: 29px; WIDTH: 100px
}
.rjfa .titlebar1 .tab1 {
	LINE-HEIGHT: 30px; BACKGROUND: url(/images/info/public/img_08.gif); HEIGHT: 32px; COLOR: #fff; FONT-WEIGHT: bold
}
.rjfa .titlebar1 .tab2 {
	LINE-HEIGHT: 29px; BACKGROUND: url(/images/info/public/img_09.gif); HEIGHT: 27px
}
.cj {
	MARGIN: 0px 10px
}
.cj LI {
	BORDER-BOTTOM: #bcdaf2 1px solid; PADDING-BOTTOM: 5px; LINE-HEIGHT: 22px; PADDING-LEFT: 25px; MARGIN-BOTTOM: 3px; BACKGROUND: url(/images/info/public/img_019.gif) no-repeat 0px 6px; PADDING-TOP: 4px
}
.datebar {
	BORDER-BOTTOM: #8bbfe6 1px solid; TEXT-ALIGN: right; LINE-HEIGHT: 27px; PADDING-RIGHT: 20px; BACKGROUND: url(/images/info/public/img_021.gif) #ebf3fe repeat-x; HEIGHT: 27px
}
* HTML .datebar {
	LINE-HEIGHT: 31px; HEIGHT: 31px
}
.calendar {
	FLOAT: left
}
.calendar LI {
	TEXT-ALIGN: center; LINE-HEIGHT: 48px; WIDTH: 61px; HEIGHT: 48px; CURSOR: pointer
}
.calendar .tab1 {
	BORDER-BOTTOM: #8bbfe6 1px solid; WIDTH: 62px; BACKGROUND: #fff; FONT-WEIGHT: bold
}
.calendar .tab2 {
	BORDER-BOTTOM: #8bbfe6 1px solid; BACKGROUND: #ebf4fd; BORDER-RIGHT: #8bbfe6 1px solid
}
.c_content {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 7px; WIDTH: 244px; PADDING-RIGHT: 7px; FLOAT: left; OVERFLOW: hidden; PADDING-TOP: 7px
}
.td_dady {
	LINE-HEIGHT: 23px; HEIGHT: 23px; CLEAR: both
}
.td_dady LI {
	TEXT-ALIGN: center; LINE-HEIGHT: 23px; DISPLAY: block; FLOAT: left
}
.td_dady .c1 {
	WIDTH: 75px
}
.td_dady .c2 {
	WIDTH: 42px
}
.td_dady .c3 {
	WIDTH: 50px
}
.td_dady .c4 {
	WIDTH: 42px
}
.td_dady .c5 {
	WIDTH: 35px
}
.td_dady .c6 {
	WIDTH: 84px
}
.td_dady .c7 {
	WIDTH: 100px
}
.td_dady .c8 {
	TEXT-ALIGN: left; WIDTH: 60px
}
.bigbox {
	WIDTH: 636px; FLOAT: left; OVERFLOW: hidden
}
.bigbox .zc {
	BORDER-BOTTOM: #8bc0e7 1px solid; BORDER-LEFT: #8bc0e7 1px solid; WIDTH: 634px; HEIGHT: 528px; OVERFLOW: hidden; BORDER-TOP: #8bc0e7 1px solid; BORDER-RIGHT: #8bc0e7 1px solid
}
.bigbox .zc .titlebar {
	LINE-HEIGHT: 29px; BACKGROUND: url(/images/info/public/img_025.gif); HEIGHT: 29px; CLEAR: both; OVERFLOW: hidden
}
.bigbox .bd .titlebar {
	LINE-HEIGHT: 29px; BACKGROUND: url(/images/info/public/img_025.gif); HEIGHT: 29px; CLEAR: both; OVERFLOW: hidden
}
.bigbox .zc .titlebar H1 {
	TEXT-INDENT: -9999px; WIDTH: 115px; BACKGROUND: url(/images/info/public/img_023.gif) no-repeat; FLOAT: left; HEIGHT: 29px
}
.bigbox .tab {
	FLOAT: right
}
.bigbox .zc .tab LI {
	TEXT-ALIGN: center; LINE-HEIGHT: 29px; WIDTH: 90px; FLOAT: left; HEIGHT: 29px; FONT-SIZE: 14px; CURSOR: pointer; FONT-WEIGHT: bold
}
.bigbox .zc .tab .tab1 {
	BACKGROUND: url(/images/info/public/img_024.gif); COLOR: #000
}
.bigbox .tab .tab1 A:link {
	COLOR: #000; TEXT-DECORATION: none
}
.bigbox .tab .tab1 A:visited {
	COLOR: #000; TEXT-DECORATION: none
}
.bigbox .tab .tab1 A:hover {
	COLOR: #ff0000; TEXT-DECORATION: none
}
.bigbox .tab .tab1 A:active {
	COLOR: #ff0000; TEXT-DECORATION: none
}
.bigbox .zc .tab .tab2 {
	BACKGROUND: url(/images/info/public/img_026.gif) no-repeat right 50%; COLOR: #fff; MARGIN-RIGHT: -2px
}
.bigbox .tab .tab2 A:link {
	COLOR: #fff; TEXT-DECORATION: none
}
.bigbox .tab .tab2 A:visited {
	COLOR: #fff; TEXT-DECORATION: none
}
.bigbox .tab .tab2 A:hover {
	COLOR: #ffff00; TEXT-DECORATION: none
}
.bigbox .tab .tab2 A:active {
	COLOR: #ffff00; TEXT-DECORATION: none
}
.bigbox .zc TABLE .nav LI {
	POSITION: relative; TEXT-ALIGN: center; LINE-HEIGHT: 22px; FLOAT: left; HEIGHT: 22px; CURSOR: pointer; FONT-WEIGHT: bold; MARGIN-RIGHT: -1px
}
.bigbox .zc TABLE .nav1 {
	Z-INDEX: 1000; WIDTH: 89px; BACKGROUND: url(/images/info/public/img_027.gif); COLOR: #e96100; FONT-SIZE: 14px
}
.bigbox .zc TABLE .nav2 {
	WIDTH: 83px; BACKGROUND: url(/images/info/public/img_028.gif); COLOR: #2966b7
}
.bigbox .jkx {
	BORDER-BOTTOM: #f29700 1px solid; BORDER-LEFT: #f29700 1px solid; WIDTH: 634px; HEIGHT: 300px; OVERFLOW: hidden; BORDER-TOP: #f29700 1px solid; BORDER-RIGHT: #f29700 1px solid
}
.bigbox .jkx .titlebar {
	LINE-HEIGHT: 29px; BACKGROUND: url(/images/info/public/img_042.gif); HEIGHT: 29px; CLEAR: both; OVERFLOW: hidden
}
.bigbox .sz .titlebar {
	LINE-HEIGHT: 29px; BACKGROUND: url(/images/info/public/img_042.gif); HEIGHT: 29px; CLEAR: both; OVERFLOW: hidden
}
.bigbox .jkx .titlebar H1 {
	TEXT-INDENT: -9999px; WIDTH: 130px; BACKGROUND: url(/images/info/public/img_041b.gif) no-repeat; FLOAT: left; HEIGHT: 29px
}
.bigbox .jkx .tab LI {
	TEXT-ALIGN: center; LINE-HEIGHT: 29px; WIDTH: 90px; FLOAT: left; HEIGHT: 29px; FONT-SIZE: 14px; CURSOR: pointer; FONT-WEIGHT: bold
}
.bigbox .sz .tab LI {
	TEXT-ALIGN: center; LINE-HEIGHT: 29px; WIDTH: 90px; FLOAT: left; HEIGHT: 29px; FONT-SIZE: 14px; CURSOR: pointer; FONT-WEIGHT: bold
}
.bigbox .jkx .tab .tab1 {
	BACKGROUND: url(/images/info/public/img_043.gif); COLOR: #000
}
.bigbox .sz .tab .tab1 {
	BACKGROUND: url(/images/info/public/img_043.gif); COLOR: #000
}
.bigbox .jkx .tab .tab2 {
	BACKGROUND: url(/images/info/public/img_044.gif) no-repeat right 50%; COLOR: #fff; MARGIN-RIGHT: -2px
}
.bigbox .sz .tab .tab2 {
	BACKGROUND: url(/images/info/public/img_044.gif) no-repeat right 50%; COLOR: #fff; MARGIN-RIGHT: -2px
}
.bigbox .sz {
	BORDER-BOTTOM: #f29700 1px solid; BORDER-LEFT: #f29700 1px solid; WIDTH: 634px; HEIGHT: 419px; OVERFLOW: hidden; BORDER-TOP: #f29700 1px solid; BORDER-RIGHT: #f29700 1px solid
}
.bigbox .sz .titlebar H1 {
	TEXT-INDENT: -9999px; WIDTH: 130px; BACKGROUND: url(/images/info/public/img_056.gif) no-repeat; FLOAT: left; HEIGHT: 29px
}
.bigbox .bd {
	BORDER-BOTTOM: #8bc0e7 1px solid; BORDER-LEFT: #8bc0e7 1px solid; WIDTH: 634px; HEIGHT: 224px; OVERFLOW: hidden; BORDER-TOP: #8bc0e7 1px solid; BORDER-RIGHT: #8bc0e7 1px solid
}
.bigbox .bd .titlebar H1 {
	TEXT-INDENT: -9999px; WIDTH: 115px; BACKGROUND: url(/images/info/public/img_036.gif) no-repeat; FLOAT: left; HEIGHT: 29px
}
.bd .help {
	MARGIN: 8px; WIDTH: 325px; BACKGROUND: #eceff4; FLOAT: left; HEIGHT: 180px; OVERFLOW: hidden; _margin-left: 4px
}
.bd .help UL {
	Z-INDEX: 1000; POSITION: relative; WIDTH: 330px; MARGIN-BOTTOM: -1px
}
.bd .help LI {
	TEXT-ALIGN: center; LINE-HEIGHT: 34px; WIDTH: 105px; FLOAT: left; HEIGHT: 34px; COLOR: #000; CURSOR: pointer; FONT-WEIGHT: bold; MARGIN-RIGHT: 5px
}
.bd .help LI SPAN {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 30px; PADDING-RIGHT: 5px; PADDING-TOP: 5px
}
.bd .help LI .h1 {
	BACKGROUND: url(/images/info/public/icon_4.gif) no-repeat
}
.bd .help LI .h2 {
	BACKGROUND: url(/images/info/public/icon_5.gif) no-repeat
}
.bd .help LI .h3 {
	BACKGROUND: url(/images/info/public/icon_6.gif) no-repeat
}
.bd .help LI .h4 {
	BACKGROUND: url(/images/info/public/icon_7.gif) no-repeat
}
.bd .help LI .h5 {
	BACKGROUND: url(/images/info/public/icon_8.gif) no-repeat
}
.bd .help .li1 {
	BACKGROUND: url(/images/info/public/img_037.gif)
}
.bd .help .li_1 {
	BACKGROUND: url(/images/info/public/img__037.gif)
}
.bd .help .li2 {
	BACKGROUND: url(/images/info/public/img_038.gif)
}
.bd .help .li3 {
	TEXT-INDENT: -9999px; BACKGROUND: url(/images/info/public/img_039b.gif) no-repeat
}
.bd .help .li3 A {
	WIDTH: 105px; DISPLAY: block; HEIGHT: 34px
}
.bd .help .content {
	BORDER-BOTTOM: #8095aa 0px solid; POSITION: relative; BORDER-LEFT: #8095aa 1px solid; PADDING-BOTTOM: 10px; LINE-HEIGHT: 22px; PADDING-LEFT: 10px; WIDTH: 302px; PADDING-RIGHT: 10px; BACKGROUND: #fff; HEIGHT: 87px; COLOR: #545454; BORDER-TOP: #8095aa 1px solid; BORDER-RIGHT: #8095aa 1px solid; PADDING-TOP: 10px
}
.ylph LI {
	TEXT-ALIGN: center; LINE-HEIGHT: 30px; WIDTH: 79px; FLOAT: left; HEIGHT: 30px; CURSOR: pointer
}
.ylph .tab1 {
	BORDER-BOTTOM: #8bc1e7 0px solid; BORDER-LEFT: #8bc1e7 0px solid; BORDER-TOP: #8bc1e7 0px solid; FONT-WEIGHT: bold; BORDER-RIGHT: #8bc1e7 1px solid
}
.ylph .tab2 {
	BORDER-BOTTOM: #8bc1e7 1px solid; BORDER-LEFT: #8bc1e7 0px solid; BACKGROUND: #ebf4fd; BORDER-TOP: #8bc1e7 0px solid; BORDER-RIGHT: #8bc1e7 1px solid
}
.y_content {
	PADDING-BOTTOM: 1px; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; PADDING-TOP: 1px
}
.y_content TABLE {
	BACKGROUND: url(/images/info/public/img_031.gif) #d1e5ff no-repeat
}
.y_content .calendar_table {
	BORDER-RIGHT-WIDTH: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
.y_content .name1 {
	TEXT-INDENT: 5px; BACKGROUND: url(/images/info/public/name1.gif) #fff no-repeat 80px center
}
.y_content .name2 {
	TEXT-INDENT: 5px; BACKGROUND: url(/images/info/public/name2.gif) #fff no-repeat 80px center
}
.y_content .name3 {
	TEXT-INDENT: 5px; BACKGROUND: url(/images/info/public/name3.gif) #fff no-repeat 80px center
}
.mrscroll1 {
	LINE-HEIGHT: 1px; WIDTH: 30px; BACKGROUND: url(/images/info/public/img_034.gif); HEIGHT: 4px; FONT-SIZE: 1px
}
.mrscroll2 {
	LINE-HEIGHT: 1px; WIDTH: 30px; BACKGROUND: url(/images/info/public/img_034.gif) 0px -4px; HEIGHT: 4px; FONT-SIZE: 1px
}
.mrscroll3 {
	LINE-HEIGHT: 1px; WIDTH: 30px; BACKGROUND: url(/images/info/public/img_034.gif) 0px -8px; HEIGHT: 4px; FONT-SIZE: 1px
}
.zcmr .list1 {
	MARGIN: 8px 0px 0px 10px; _margin-top: 5px
}
#zcmr_div {
	WIDTH: 320px; HEIGHT: 90px; OVERFLOW: hidden
}
.zcmr_pic LI {
	TEXT-ALIGN: center; MARGIN: 10px 3px 0px 11px; FLOAT: left; _margin: 10px 8px 0 6px
}
.zcmr_pic LI IMG {
	DISPLAY: block; MARGIN-BOTTOM: 5px
}
.mrfd {
	PADDING-BOTTOM: 0px; MARGIN-TOP: 7px; TEXT-INDENT: -9999px; PADDING-LEFT: 0px; WIDTH: 320px; PADDING-RIGHT: 0px; BACKGROUND: url(/images/info/public/img_035.gif); HEIGHT: 33px; PADDING-TOP: 0px; _margin-top: 8px
}
.bigbox_r {
	MARGIN: 8px 8px 0px 0px; WIDTH: 285px; FLOAT: right; _margin: 8px 3px 0 0; _width: 290px
}
.bigbox H1 {
	LINE-HEIGHT: 23px; TEXT-INDENT: 30px; BACKGROUND: url(/images/info/public/img_040.gif) #eff6fe no-repeat 10px 6px; HEIGHT: 23px; COLOR: #000; FONT-SIZE: 14px
}
.bigbox H1 .t {
	FLOAT: left
}
.bigbox H1 .m {
	FLOAT: right; FONT-SIZE: 12px; FONT-WEIGHT: normal; MARGIN-RIGHT: 10px
}
.bigbox_r .list1 {
	MARGIN: 5px 0px 5px 5px
}
.bigbox_r .list2 {
	MARGIN: 5px 0px 5px 5px
}
.bigbox_r .list1 LI {
	LINE-HEIGHT: 20px
}
.bigbox_r .list2 LI {
	LINE-HEIGHT: 20px
}
.tjfx .list1 {
	MARGIN: 10px 10px 15px
}
.czinfo {
	BORDER-BOTTOM: #f8cb88 1px solid; BORDER-LEFT: #f8cb88 1px solid; MARGIN: 0px 0px 7px 5px; WIDTH: 322px; BACKGROUND: url(/images/info/public/img_045.gif) #fdf2de repeat-x; HEIGHT: 85px; BORDER-TOP: #f8cb88 1px solid; BORDER-RIGHT: #f8cb88 1px solid
}
.czinfo .number {
	PADDING-BOTTOM: 1px; PADDING-LEFT: 4px; PADDING-RIGHT: 5px; FONT-FAMILY: Arial; BACKGROUND: url(/images/info/public/number.gif) no-repeat; COLOR: #ff0000; FONT-WEIGHT: bold; MARGIN-RIGHT: 2px; PADDING-TOP: 0px
}
.xq_kj .number {
	PADDING-BOTTOM: 1px; PADDING-LEFT: 4px; PADDING-RIGHT: 5px; FONT-FAMILY: Arial; BACKGROUND: url(/images/info/public/number.gif) no-repeat; COLOR: #ff0000; FONT-WEIGHT: bold; MARGIN-RIGHT: 2px; PADDING-TOP: 0px
}
.jkx .help {
	BORDER-BOTTOM: #badcff 1px solid; BORDER-LEFT: #badcff 1px solid; MARGIN: 7px 0px 7px 5px; WIDTH: 322px; BACKGROUND: url(/images/info/public/img_046.gif) #eff6fe repeat-x; HEIGHT: 59px; BORDER-TOP: #badcff 1px solid; BORDER-RIGHT: #badcff 1px solid
}
.jkx .zxzj {
	MARGIN: 7px 0px 0px 5px; WIDTH: 324px
}
.jkx .zxzj .list2 {
	MARGIN: 5px 0px 0px 10px
}
.clock {
	PADDING-BOTTOM: 1px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; FONT-FAMILY: Arial; BACKGROUND: #000; COLOR: #00ff00; FONT-SIZE: 14px; FONT-WEIGHT: bold; PADDING-TOP: 1px
}
.ssc .czinfo TABLE {
	BACKGROUND: url(/images/info/public/logo_cai5.gif) no-repeat 257px 8px
}
.yxb {
	BORDER-BOTTOM: #badcff 1px solid; BORDER-LEFT: #badcff 1px solid; MARGIN-TOP: 8px; BACKGROUND: url(/images/info/public/img_049.gif) no-repeat; BORDER-TOP: #badcff 1px solid; BORDER-RIGHT: #badcff 1px solid
}
.yxb TD {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 20px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; HEIGHT: 20px; PADDING-TOP: 0px
}
.yxb TH {
	LINE-HEIGHT: 19px; BACKGROUND: url(/images/info/public/img_048.gif) #5ec2f4 repeat-x; HEIGHT: 19px; COLOR: #fff; FONT-WEIGHT: normal
}
.yxb .tr1 {
	BACKGROUND: #fff
}
.yxb .tr2 {
	BACKGROUND: #f5f5f5
}
.yxb .td1 {
	BACKGROUND-IMAGE: url(/images/info/public/img_049.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center 50%; COLOR: #fff
}
.yxb .td2 {
	BACKGROUND-IMAGE: url(/images/info/public/img_050.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center 50%
}
.tubiao {
	LINE-HEIGHT: 23px; MARGIN: 15px 10px 10px; BACKGROUND: url(/images/info/public/img_054.gif) repeat-x 0px 22px; HEIGHT: 23px
}
.tubiao H1 {
	TEXT-INDENT: 30px; BACKGROUND: url(/images/info/public/img_040.gif) no-repeat 10px 6px; FLOAT: left; COLOR: #000; FONT-SIZE: 14px
}
.tubiao .tab {
	FLOAT: right; BORDER-RIGHT: #8cc0e7 1px solid
}
.tubiao .tab LI {
	TEXT-ALIGN: center; WIDTH: 45px; FLOAT: left; CURSOR: pointer
}
.tubiao .tab1 {
	BORDER-BOTTOM: #8bc0e8 0px solid; BORDER-LEFT: #8bc0e8 1px solid; LINE-HEIGHT: 22px; BACKGROUND: #ecf5fe; HEIGHT: 22px; BORDER-TOP: #8bc0e8 1px solid; FONT-WEIGHT: bold; BORDER-RIGHT: #8bc0e8 0px solid
}
.tubiao .tab2 {
	BORDER-BOTTOM: #8bc0e8 1px solid; BORDER-LEFT: #8bc0e8 1px solid; LINE-HEIGHT: 21px; BACKGROUND: #fff; HEIGHT: 21px; BORDER-TOP: #8bc0e8 1px solid; BORDER-RIGHT: #8bc0e8 0px solid
}
.ssq_tubiao {
	LINE-HEIGHT: 22px; PADDING-LEFT: 78px; BACKGROUND: url(/images/info/public/img_055a.gif) no-repeat 12px 0px
}
.dlt_tubiao {
	LINE-HEIGHT: 22px; PADDING-LEFT: 78px; BACKGROUND: url(/images/info/public/img_055b.gif) no-repeat 12px 0px
}
.pls_tubiao {
	LINE-HEIGHT: 22px; PADDING-LEFT: 78px; BACKGROUND: url(/images/info/public/img_055c.gif) no-repeat 12px 0px
}
.sd_tubiao {
	LINE-HEIGHT: 22px; PADDING-LEFT: 78px; BACKGROUND: url(/images/info/public/img_055d.gif) no-repeat 12px 0px
}
.softintro {
	BORDER-BOTTOM: #bcdaf4 1px solid; BORDER-LEFT: #bcdaf4 1px solid; PADDING-BOTTOM: 5px; LINE-HEIGHT: 22px; MARGIN: 10px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BORDER-TOP: #bcdaf4 1px solid; BORDER-RIGHT: #bcdaf4 1px solid; PADDING-TOP: 5px
}
.hudong .list1 {
	MARGIN: 10px 0px 10px 10px
}
.kefu {
	WIDTH: 322px; BACKGROUND: url(/images/info/public/img_058.gif); HEIGHT: 117px; OVERFLOW: hidden
}
.ball_r {
	BORDER-BOTTOM: #ccc 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #ccc 1px solid; WIDTH: 15px; BACKGROUND: #e9e9e9; HEIGHT: 20px; COLOR: #464646; FONT-SIZE: 14px; BORDER-TOP: #ccc 1px solid; CURSOR: pointer; FONT-WEIGHT: bold; BORDER-RIGHT: #ccc 1px solid
}
.ball_b {
	BORDER-BOTTOM: #fff 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #fff 1px solid; WIDTH: 15px; BACKGROUND: #ff9900; HEIGHT: 20px; COLOR: #fff; FONT-SIZE: 14px; BORDER-TOP: #fff 1px solid; CURSOR: pointer; FONT-WEIGHT: bold; BORDER-RIGHT: #fff 1px solid
}
.page {
	MARGIN: 0px auto; WIDTH: 458px; CLEAR: both
}
.page UL {
	PADDING-BOTTOM: 9px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; HEIGHT: 20px; PADDING-TOP: 9px
}
.page LI {
	BORDER-BOTTOM: #b5c5dc 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #b5c5dc 1px solid; PADDING-BOTTOM: 0px; LINE-HEIGHT: 19px; PADDING-LEFT: 7px; PADDING-RIGHT: 7px; DISPLAY: block; FONT-FAMILY: tahoma, Arial, ËÎÌå; FLOAT: left; HEIGHT: 19px; BORDER-TOP: #b5c5dc 1px solid; CURSOR: pointer; MARGIN-RIGHT: 4px; BORDER-RIGHT: #b5c5dc 1px solid; TEXT-DECORATION: none; PADDING-TOP: 0px
}
.page LI A {
	TEXT-DECORATION: none
}
.page LI A:link {
	TEXT-DECORATION: none
}
.page LI A:visited {
	TEXT-DECORATION: none
}
.page LI IMG {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; _margin-top: 5px
}
.page .pa_aq {
	BACKGROUND-COLOR: #48aedf; COLOR: #fff
}
.page .pa_aq A {
	BACKGROUND-COLOR: #48aedf; COLOR: #fff
}
.calendar_table {
	TEXT-ALIGN: center; PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BORDER-TOP: #8bc0e7 1px solid; PADDING-TOP: 5px
}
.calendar_table TH {
	BACKGROUND: #d0e4ff; FONT-WEIGHT: normal
}
.calendar_table .tr1 {
	BACKGROUND: #f9f9fb
}
.calendar_table .tr2 {
	BACKGROUND: #edf5f8
}
.rjfa {
	WIDTH: 321px
}
.rjfa LI {
	TEXT-ALIGN: center; LINE-HEIGHT: 25px; WIDTH: 79px; FLOAT: left; HEIGHT: 25px; CURSOR: pointer
}
.rjfa .tab1 {
	BORDER-BOTTOM: #8bc1e7 0px solid; BORDER-LEFT: #8bc1e7 0px solid; WIDTH: 80px; BORDER-TOP: #8bc1e7 0px solid; FONT-WEIGHT: bold; BORDER-RIGHT: #8bc1e7 1px solid
}
.rjfa .tab2 {
	BORDER-BOTTOM: #8bc1e7 1px solid; BORDER-LEFT: #8bc1e7 0px solid; BACKGROUND: #ebf4fd; BORDER-TOP: #8bc1e7 0px solid; BORDER-RIGHT: #8bc1e7 1px solid
}
.writing {
	WRITING-MODE: tb-rl
}
.isearch {
	BORDER-BOTTOM: #79bbdd 1px solid; BORDER-LEFT: #79bbdd 1px solid; BACKGROUND: #fff; BORDER-TOP: #79bbdd 1px solid; BORDER-RIGHT: #79bbdd 1px solid
}
.isearch .bg {
	LINE-HEIGHT: 37px; TEXT-INDENT: 10px; BACKGROUND: url(/images/info/public/ieaarchbg.gif); HEIGHT: 37px; _height: 30px; _padding-top: 7px
}
.isearchBtn {
	BORDER-RIGHT-WIDTH: 0px; TEXT-INDENT: -9999px; WIDTH: 22px; BACKGROUND: url(/images/info/public/ieaarchBtn.gif); BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 21px; BORDER-LEFT-WIDTH: 0px
}
.isearch .n {
	WIDTH: 100px; COLOR: #999
}
.isearch .keyword {
	LINE-HEIGHT: 37px; TEXT-INDENT: 12px; HEIGHT: 37px; _height: 25px; _padding-top: 12px
}
.pslr1 {
	TEXT-ALIGN: center; LINE-HEIGHT: 25px; WIDTH: 23px; FONT-FAMILY: Arial; BACKGROUND: url(/images/info/public/q3.gif) no-repeat center center; FLOAT: left; COLOR: #fff; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.pslr2 {
	TEXT-ALIGN: center; LINE-HEIGHT: 25px; TEXT-INDENT: 6px; WIDTH: 26px; BACKGROUND: url(/images/info/public/ps_open.gif) no-repeat center center; FLOAT: left; COLOR: #000
}
.pslr3 {
	TEXT-ALIGN: center; LINE-HEIGHT: 25px; WIDTH: 23px; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND: url(/images/info/public/q2.gif) no-repeat center center; FLOAT: left; COLOR: #fff; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.pslr {
	MARGIN: auto; WIDTH: 50px
}
.d_zxzj {
	BORDER-BOTTOM: #8bc0e7 1px solid; BORDER-LEFT: #8bc0e7 1px solid; PADDING-BOTTOM: 1px; MARGIN: 10px 0px; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; BACKGROUND: #ebf4fd; HEIGHT: 29px; BORDER-TOP: #8bc0e7 1px solid; BORDER-RIGHT: #8bc0e7 1px solid; PADDING-TOP: 1px
}
.d_zxzj .l {
	TEXT-ALIGN: center; LINE-HEIGHT: 29px; WIDTH: 88px; BACKGROUND: url(/images/info/dlt/zxzj_01.gif); FLOAT: left; HEIGHT: 29px; COLOR: #fff; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.d_zxzj .r {
	LINE-HEIGHT: 29px; PADDING-LEFT: 10px; FLOAT: left; FONT-WEIGHT: bold
}
.d_zxzj .t {
	TEXT-ALIGN: center; WIDTH: 280px; BACKGROUND: url(/images/info/dlt/zxzj_02.gif) no-repeat right center; FLOAT: left
}
.ball_red {
	BACKGROUND-IMAGE: url(/images/info/public/ball/ball_red.gif); TEXT-ALIGN: center; LINE-HEIGHT: 25px; WIDTH: 25px; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 25px; COLOR: #ffffff; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.ball_blue {
	BACKGROUND-IMAGE: url(/images/info/public/ball/ball_blue.gif); TEXT-ALIGN: center; LINE-HEIGHT: 25px; WIDTH: 25px; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 25px; COLOR: #ffffff; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.ball_orange {
	BACKGROUND-IMAGE: url(/images/info/public/ball/ball_orange.gif); TEXT-ALIGN: center; LINE-HEIGHT: 25px; WIDTH: 25px; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 25px; COLOR: #520002; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.ball_box01 {
	
}
.ball_box01 LI {
	LINE-HEIGHT: 25px; FLOAT: left; HEIGHT: 25px; MARGIN-RIGHT: 5px
}
.ball_box01 .li_ay01 {
	COLOR: #0000ff; MARGIN-RIGHT: 10px
}
.wz_nav01 {
	BACKGROUND-IMAGE: url(/images/info/public/wz_nav01_bg.gif); BORDER-BOTTOM: #3876b6 1px solid; BORDER-LEFT: #3876b6 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; HEIGHT: 20px; COLOR: #ffffff; BORDER-TOP: #3876b6 1px solid; BORDER-RIGHT: #3876b6 1px solid; PADDING-TOP: 6px
}
.wz_nav01 A:link {
	COLOR: #ffffff
}
.wz_nav01 A:visited {
	COLOR: #ffffff
}
.wz_nav01 A:hover {
	COLOR: #ffff00
}
.blk_18 P {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.blk_18 FIELDSET {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
IMG {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
.blk_18 UL {
	LIST-STYLE-TYPE: none
}
OL {
	LIST-STYLE-TYPE: none
}
.blk_18 A {
	COLOR: #0449be; FONT-SIZE: 12px; TEXT-DECORATION: underline
}
.blk_18 A:visited {
	COLOR: #800080; TEXT-DECORATION: underline
}
.blk_18 {
	PADDING-BOTTOM: 0px; MARGIN: 0px 1px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; ZOOM: 1; OVERFLOW: hidden; PADDING-TOP: 6px
}
.blk_18 .Cont {
	WIDTH: 320px; FLOAT: left; HEIGHT: 79px; OVERFLOW: hidden
}
.blk_18 .ScrCont {
	WIDTH: 32766px; ZOOM: 1
}
.blk_18 #List1_1 {
	FLOAT: left
}
.blk_18 #List1_2 {
	FLOAT: left
}
.blk_18 .box {
	TEXT-ALIGN: center; WIDTH: 106px; FLOAT: left; _width: 80px
}
.blk_18 .box IMG {
	PADDING-BOTTOM: 2px; MARGIN: 0px 6px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; DISPLAY: block; PADDING-TOP: 2px
}
.blk_18 .box P {
	TEXT-ALIGN: center; LINE-HEIGHT: 20px; WIDTH: 112px; _width: auto
}
.blk_18 A:link {
	TEXT-DECORATION: none
}
.blk_18 A:visited {
	TEXT-DECORATION: none
}
.q_subnav_t {
	WIDTH: auto
}
.q_subnav_tb IMG {
	POSITION: relative; TOP: 1px; _top: 4px
}
.table_tz001 {
	
}
.table_tz001 TD {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; PADDING-TOP: 5px
}
.table_tz001 .bg_t01 {
	BACKGROUND-COLOR: #d4e4f0
}
.table_tz001 .bg01 {
	BACKGROUND-COLOR: #f5f5f5
}
.table_tz001 .bg02 {
	BACKGROUND-COLOR: #ffffff
}
.xukeboxw {
	BORDER-BOTTOM: #8cc0e8 1px solid; BORDER-LEFT: #8cc0e8 1px solid; PADDING-BOTTOM: 15px; MARGIN: 20px auto; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; BORDER-TOP: #8cc0e8 1px solid; BORDER-RIGHT: #8cc0e8 1px solid; PADDING-TOP: 15px
}
.xukeboxn {
	BORDER-BOTTOM: #8cc0e8 2px solid; BORDER-LEFT: #8cc0e8 2px solid; BACKGROUND: url(/images/info/public/xukebg01.gif) repeat-x; BORDER-TOP: #8cc0e8 2px solid; BORDER-RIGHT: #8cc0e8 2px solid
}
.xukeboxn1 {
	BACKGROUND: url(/images/info/public/xukebg02.jpg) no-repeat right top
}
.smsdg_alert {
	BORDER-BOTTOM: #8bc0e7 3px solid; POSITION: absolute; BORDER-LEFT: #8bc0e7 3px solid; WIDTH: 440px; BACKGROUND: #f6fbff; HEIGHT: 200px; OVERFLOW: hidden; BORDER-TOP: #8bc0e7 3px solid; TOP: 1561px; BORDER-RIGHT: #8bc0e7 3px solid; LEFT: 169px
}
.smsdg_alert2 {
	TOP: 2615px; LEFT: 115px
}
.smsdg_alert .t {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 22px; MARGIN: 1px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; FONT-FAMILY: Arial; BACKGROUND: #d0e4ff; HEIGHT: 22px; COLOR: #010199; FONT-WEIGHT: bold; PADDING-TOP: 0px
}
.smsdg_alert .t .l {
	FLOAT: left
}
.smsdg_alert .t .r {
	MARGIN-TOP: 2px; FLOAT: right; CURSOR: pointer
}
.smsdg_alert .sms {
	MARGIN: 10px 0px 0px 10px; WIDTH: 155px; BACKGROUND: url(/images/info/public/bg_sms.gif); FLOAT: left; HEIGHT: 155px; OVERFLOW: hidden; _margin-left: 5px
}
.smsdg_alert .sms .n {
	PADDING-BOTTOM: 10px; LINE-HEIGHT: 20px; MARGIN-TOP: 35px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; FONT-FAMILY: Arial; COLOR: #000; WORD-BREAK: break-all; PADDING-TOP: 10px
}
.smsdg_alert .info {
	LINE-HEIGHT: 20px; MARGIN: 10px 15px 0px; WIDTH: 245px; FLOAT: left; COLOR: #333
}
.sms_text {
	LINE-HEIGHT: 20px; BORDER-RIGHT-WIDTH: 0px; BACKGROUND-COLOR: transparent; WIDTH: 143px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 80px; FONT-SIZE: 12px; BORDER-LEFT-WIDTH: 0px
}
.clear {
	CLEAR: both
}
UL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
LI {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
P {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H3 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H4 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H5 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#ball_info UL LI {
	LIST-STYLE-TYPE: none
}
DL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DD {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#ball_info {
	MARGIN: 10px auto 0px; WIDTH: 968px
}
#ball_single {
	FLOAT: left
}
#ball_plan {
	FLOAT: left
}
#ball_single {
	BORDER-BOTTOM: #8bc0e7 1px solid; BORDER-LEFT: #8bc0e7 1px solid; WIDTH: 634px; HEIGHT: 214px; OVERFLOW: hidden; BORDER-TOP: #8bc0e7 1px solid; BORDER-RIGHT: #8bc0e7 1px solid
}
#ball_plan {
	BORDER-BOTTOM: #8bc0e7 1px solid; BORDER-LEFT: #8bc0e7 1px solid; WIDTH: 320px; HEIGHT: 214px; OVERFLOW: hidden; BORDER-TOP: #8bc0e7 1px solid; BORDER-RIGHT: #8bc0e7 1px solid
}
#ball_single .titlebar H1 {
	TEXT-INDENT: -999999px; WIDTH: 92px; BACKGROUND: url(/images/info/public/dc_title.gif) no-repeat; FLOAT: left; HEIGHT: 29px; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
#ball_single .titlebar {
	WIDTH: 634px; BACKGROUND: url(/images/info/public/img_025.gif) no-repeat; HEIGHT: 29px; OVERFLOW: hidden
}
#ball_single .titlebar SPAN {
	FLOAT: right; COLOR: #fff; FONT-SIZE: 12px; FONT-WEIGHT: normal; MARGIN-RIGHT: 4px; PADDING-TOP: 8px
}
#ball_single .titlebar SPAN A {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; PADDING-TOP: 0px
}
#ball_single .titlebar SPAN A:link {
	COLOR: #fff; TEXT-DECORATION: underline
}
#ball_single .titlebar SPAN A:visited {
	COLOR: #fff; TEXT-DECORATION: underline
}
#ball_single .titlebar SPAN A:hover {
	COLOR: #ffff00
}
.single_cont {
	BACKGROUND: url(/images/info/public/line.jpg) no-repeat 320px center; HEIGHT: 185px
}
.single_cont .win {
	FLOAT: left
}
.single_cont .ball_time {
	FLOAT: left
}
.win {
	MARGIN: 10px 0px 0px 14px; WIDTH: 290px; DISPLAY: inline; HEIGHT: 165px
}
.win_top {
	WIDTH: 290px; HEIGHT: 111px
}
.vin_bottom {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; WIDTH: 285px; PADDING-RIGHT: 0px; HEIGHT: 53px; BORDER-TOP: #c1c1fe 1px dashed; PADDING-TOP: 10px
}
.vin_bottom .b {
	LINE-HEIGHT: 20px; PADDING-LEFT: 6px; WIDTH: 36px; BACKGROUND: url(/images/info/public/titlebg.gif) no-repeat; HEIGHT: 18px; COLOR: #333; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.vin_bottom DL {
	HEIGHT: 22px; CLEAR: both
}
.vin_bottom DT {
	FLOAT: left
}
.vin_bottom DD {
	FLOAT: left
}
.vin_bottom DT {
	
}
.vin_bottom DD {
	LINE-HEIGHT: 20px; HEIGHT: 20px
}
.vin_bottom A {
	PADDING-LEFT: 6px
}
.vin_bottom A:link {
	COLOR: #21366d; TEXT-DECORATION: underline
}
.vin_bottom A:visited {
	COLOR: #21366d; TEXT-DECORATION: underline
}
.vin_bottom A:hover {
	COLOR: red
}
.vin_bottom .r {
	PADDING-RIGHT: 25px; BACKGROUND: url(/images/info/public/new.gif) no-repeat right top; HEIGHT: 20px; COLOR: red
}
.vin_bottom .r A:link {
	COLOR: red
}
.vin_bottom .r A:visited {
	COLOR: red
}
#ball_plan H5 {
	FONT-SIZE: 14px; FONT-WEIGHT: bold
}
#ball_plan UL LI {
	FLOAT: left
}
.win_top SPAN {
	FLOAT: right
}
H5 {
	LINE-HEIGHT: 21px; PADDING-LEFT: 10px; WIDTH: 280px; MARGIN-BOTTOM: 6px; BACKGROUND: url(/images/info/public/dc_h4bg.gif) no-repeat; HEIGHT: 20px; COLOR: #333; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.win_top UL {
	PADDING-LEFT: 8px; WIDTH: 275px; HEIGHT: 88px
}
.win_top UL LI {
	LINE-HEIGHT: 20px; PADDING-LEFT: 10px; BACKGROUND: url(/images/info/public/dot1.gif) no-repeat left 7px
}
.win_top UL LI A:link {
	COLOR: #21366d; TEXT-DECORATION: underline
}
.win_top UL LI A:visited {
	COLOR: #21366d; TEXT-DECORATION: underline
}
.win_top UL LI A:hover {
	COLOR: red
}
.win_top H5 SPAN {
	FONT-STYLE: normal; FONT-SIZE: 12px; FONT-WEIGHT: normal
}
.win_top H5 SPAN A {
	COLOR: #21366d
}
.win_top SPAN A:link {
	COLOR: #21366d; TEXT-DECORATION: underline
}
.win_top SPAN A:visited {
	COLOR: #21366d; TEXT-DECORATION: underline
}
.win_top SPAN A:hover {
	COLOR: red
}
.rjfa1 {
	WIDTH: 321px; HEIGHT: 185px; OVERFLOW: hidden
}
.rjfa1 UL {
	WIDTH: 350px
}
.rjfa1 LI {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; LINE-HEIGHT: 25px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; FLOAT: left; HEIGHT: 25px; CURSOR: pointer; PADDING-TOP: 0px
}
.rjfa1 .tab1 {
	BORDER-BOTTOM: #8bc1e7 0px solid; BORDER-LEFT: #8bc1e7 0px solid; BORDER-TOP: #8bc1e7 0px solid; FONT-WEIGHT: bold; BORDER-RIGHT: #8bc1e7 1px solid
}
.rjfa1 .tab2 {
	BORDER-BOTTOM: #8bc1e7 1px solid; BORDER-LEFT: #8bc1e7 0px solid; BACKGROUND: #ebf4fd; BORDER-TOP: #8bc1e7 0px solid; BORDER-RIGHT: #8bc1e7 1px solid
}
.y_content .calendar_table1 {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
.calendar_table1 {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BORDER-TOP: #8bc0e7 1px solid; PADDING-TOP: 0px
}
.calendar_table1 .leftp {
	TEXT-ALIGN: left; PADDING-BOTTOM: 0px; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; PADDING-TOP: 0px
}
.calendar_table1 .leftp A:link {
	COLOR: #21366d; TEXT-DECORATION: underline
}
.calendar_table1 .leftp A:visited {
	COLOR: #21366d; TEXT-DECORATION: underline
}
.calendar_table1 .leftp A:hover {
	COLOR: red
}
.calendar_table1 TR {
	HEIGHT: 24px
}
.calendar_table1 TH {
	BACKGROUND: #d0e4ff; HEIGHT: 24px; FONT-WEIGHT: normal
}
.calendar_table1 .tr1 {
	BACKGROUND: #f9f9fb
}
.calendar_table1 .tr2 {
	BACKGROUND: #edf5f8
}
.calendar_table1 A:link {
	COLOR: red; TEXT-DECORATION: underline
}
.calendar_table1 A:visited {
	COLOR: red; TEXT-DECORATION: underline
}
.notextline A:link {
	TEXT-DECORATION: none
}
.notextline A:visited {
	TEXT-DECORATION: none
}
.notextline A:hover {
	TEXT-DECORATION: none
}
