body
{
    margin: 0px;
    font-size: 12px;
    font-family: ו, Tahoma, Arial;
}
li
{
    margin-bottom: 6px;
}
.layout
{
    width: 920px;
}
.header
{
    width: 920px;
    text-align: left;
    background: #6A93D4;
}
.footer
{
    width: 920px;
    text-align: left;
    background: #DDDDDD;
}