.Price
{
    font: 12px/1.5 Tahoma,Helvetica,Arial, '宋体' ,sans-serif;
    line-height: 25px;
    font-style: normal;
    font-size: 24px;
    color: #f50;
    font-weight: normal;
    vertical-align: baseline;
}
