.InformationBox
{
    border: solid 0.1em gray;
    overflow: hidden;
}

.InformationBox img.IcoType
{
    width: 50px;
    height: 50px;
    border: 0px;
    margin: 8px;
    margin-right: 12px;
    float: left;
    display: block;
}

.InformationBox .SeparatorLine
{
    display: none;
}

.InformationBox ul
{
    display: block;
}

.InformationBox ul li
{
    list-style-type: none;
}

.InformationBox ul li.Information
{
    display: table;
    line-height: 18px;
}

.InformationBox ul li.Information span
{
    float: left;
    margin-right: 8px;
}

.InformationBox ul li.Information a
{
    float: left;
    margin-right: 6px;
}

.InformationBox ul li.Information a img
{
    float: left;
    display: block;
    border: none;
}

.InformationBox ul li.ErrorMsg
{
    display: table;
    line-height: 18px;
}

.InformationBox ul li.ErrorMsg span
{
    float: left;
    margin-right: 8px;
    color: Red;
}
