.SearchWin
{
}

.SearchWin .Header
{
    height: 32px;
    background-color: lightgray;
    padding-left: 8px;
}

.SearchWin .Header span
{
    line-height: 32px;
    font-size: 1.2em;
    font-weight: bold;
}

.SearchWin .Content
{
    min-height: 400px;
}

.SearchWin .Content span
{
    height:24px;
    line-height:24px;
    color:Red;
    font-weight:bold;
    padding-left:8px;
    display:block;
}

.SearchWin .Content textarea
{
    width:600px;
    height: 350px;
}

.SearchWin .Footer
{
    height: 32px;
    background-color: lightgray;
    text-align: right;
    padding-right: 30px;
}

.SearchWin .Footer a
{
    line-height: 32px;
    margin-left: 10px;
    font-size: 1.2em;
    font-weight: bold;
}
