.ItemList
{
    clear: both;
}

.ItemList .Item_Image
{
    float: left;
    width: 150px;
    margin-right: 10px;
}

.CheckItemList .Item_Image
{
    margin-bottom: 8px;
}

.CheckItemList .Item_Image .Image
{
    width: 150px;
    height: 120px;
    display: block;
}

.CheckItemList .Item_Image .Image img
{
    width: 150px;
    max-height: 120px;
}

.CheckItemList .Item_Image .Check
{
}

.CheckItemList .Item_Image .Price
{
}

.CheckItemList .Item_Image .Price .Money
{
}

.CheckItemList .Item_Image .Price .Unit
{
}

.ItemList .ListHeader
{
}

.ItemList .Item_Block
{
    float: left;
    display: block;
    margin:3px;
}

.ItemList .Item_Block .Partten
{
}

.ItemList .Item_Block .CheckPartten
{
    text-align:center;
}

.ItemList .Item_Block .CheckPartten input
{
}

.ItemList .Item_Block .ImagePartten
{
    overflow: hidden;
    vertical-align: middle;
    width: 150px;
    height: 150px;
    border: solid 1px #cdcdcd;
}

.ItemList .Item_Block .ImagePartten a
{
    width: 150px;
    height: 150px;
}

.ItemList .Item_Block .ImagePartten a img
{
    max-width: 150px;
    max-height: 150px;
}

.ItemList .Item_Block .TitlePartten
{
    width: 150px;
    padding-left: 1px;
    padding-right: 1px;
    text-overflow: ellipsis;
    white-space : nowrap;
    overflow: hidden;
    font: 12px/1.5 Tahoma,Helvetica,Arial,'宋体',sans-serif;    
}

.ItemList .Item_Block .TitlePartten span
{
    color: #36c;
}

.ItemList .Item_Block .PricePartten
{
    text-align:center;
}

.ItemList .Item_Block .PricePartten .Price_List
{
    font: 12px/1.5 Tahoma,Helvetica,Arial, '宋体' ,sans-serif;
    line-height: 25px;
    font-style: normal;
    color: #f50;
    font-weight: normal;
    vertical-align: baseline;
}

.ItemList .Item_List
{
    clear: both;
    display: block;
    overflow: hidden;
    margin-top: 8px;
    margin-bottom: 8px;
}

.ItemList .Item_List .Partten
{
    float: left;
    display: block;
}

.ItemList .Item_List .CheckPartten
{
    height: 50px;
    margin-right: 8px;
}

.ItemList .Item_List .CheckPartten input
{
    margin-top: 16px;
}

.ItemList .Item_List .ImagePartten
{
    overflow: hidden;
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border: solid 1px #cdcdcd;
}

.ItemList .Item_List .ImagePartten img
{
    width: 50px;
    max-height: 50px;
}

.ItemList .Item_List .TitlePartten
{
    width: 250px;
    padding-left: 8px;
    overflow: hidden;
    font: 12px/1.5 Tahoma,Helvetica,Arial,'宋体',sans-serif;    
}

.ItemList .Item_List .TitlePartten span
{
    color: #36c;
}

