.WebPage
{
}

.WebPage .InformationList
{
}

.WebPage .PageHeader
{
    height: 32px;
    line-height: 32px;
}

.WebPage .PageContent
{
    min-height: 200px;
}

.WebPage .PageFooter
{
    clear: both;
    height: 32px;
    text-align: right;
}

.WebPage .PageFooter a
{
}
