.PageContent .WaittingList
{
    float: left;    
    width: 250px;
}

.PageContent .TemplateArea
{
    display:block;
    overflow:hidden;
}

.PageContent .TemplateArea .ItemInformation
{
}

.PageContent .TemplateArea .TemplateContainer
{
}

.WaittingList ul
{
    list-style-type: decimal;
    border-top: solid 1px gray;
    border-bottom: solid 1px gray;
    margin: 0px;
    float: left;
}

.WaittingList ul li
{
    font: 12px/1.5 Tahoma,Helvetica,Arial, '宋体' ,sans-serif;
    color: #36c;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 5px;
    padding-right: 3px;
    border-top: solid 1px gray;
    border-right: solid 1px gray;
}

.WaittingList ul li:first-child
{
    border-top: none;
}

.WaittingList ul li.Selected
{
    border-right: none;
    background-color: lightgray;
}

.WaittingList ul li a
{
    text-align: left;
    display: block;
    font-weight: bold;
    overflow: visible;
    text-decoration: none;
}

