

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><title>
	测试环境
</title>
<script language="javascript" type="text/javascript" src="WdatePicker.js"></script>
<meta name="keywords" content="测试环境"></head>
<body>
    <form name="form1" method="post" action="Welcome.aspx" id="form1">
        <div>
            <input type="text" class="Wdate" id="test2" style="width:200px" onFocus="WdatePicker({el:'test2',dateFmt:'yyyy-MM-dd HH:mm'})" />
        </div>
    </form>
</body>
</html>
