<?xml version="1.0"?>
<APIConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Enable>true</Enable>
  <AppCollection>
    <ApplicationInfo>
      <AppName>test</AppName>
      <AppUrl>http://nt.discuz.net/</AppUrl>
      <APIKey>123123</APIKey>
      <Secret>1233211111111</Secret>
      <CallbackUrl>http://nt.discuz.net/</CallbackUrl>
    </ApplicationInfo>
  </AppCollection>
</APIConfigInfo>