<?xml version="1.0"?>
<GeneralConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Debatepagesize>5</Debatepagesize>
  <Forumtitle>晓风彩票软件-门户版俱乐部</Forumtitle>
  <Forumurl>forumindex.aspx</Forumurl>
  <Webtitle />
  <Weburl />
  <Licensed>0</Licensed>
  <Icp />
  <Closed>0</Closed>
  <Closedreason>抱歉!论坛暂时关闭,稍后才能访问.</Closedreason>
  <Isframeshow>0</Isframeshow>
  <Admintools>0</Admintools>
  <Indexpage>0</Indexpage>
  <Linktext>&lt;a href="http://mhb.shovesoft.com" title="The Official 3gcpw Site" target="_blank"&gt;晓风彩票软件-门户版&lt;/a&gt;</Linktext>
  <Statcode />
  <Passwordkey>RV8JX664X8</Passwordkey>
  <Regstatus>1</Regstatus>
  <Regadvance>0</Regadvance>
  <Realnamesystem>1</Realnamesystem>
  <Censoruser>admin
管理员
版主
雪人*
???</Censoruser>
  <Doublee>1</Doublee>
  <Regverify>0</Regverify>
  <Accessemail />
  <Censoremail />
  <Hideprivate>0</Hideprivate>
  <Regctrl>0</Regctrl>
  <Ipregctrl />
  <Ipdenyaccess />
  <Ipaccess />
  <Adminipaccess />
  <Newbiespan>0</Newbiespan>
  <Welcomemsg>0</Welcomemsg>
  <Welcomemsgtxt>尊敬的用户, 您已经注册成为本论坛的会员, 请您在发表言论时, 遵守当地法律法规. 如果您有什么疑问可以联系管理员.</Welcomemsgtxt>
  <Rules>0</Rules>
  <Rulestxt>        1 遵守国家法律法规
        2 遵守所有与网络服务有关的网络协议、规定和程序
        3 不得为任何非法目的而使用网络服务系统
    </Rulestxt>
  <Secques>0</Secques>
  <Templateid>1</Templateid>
  <Hottopic>20</Hottopic>
  <Starthreshold>3</Starthreshold>
  <Visitedforums>20</Visitedforums>
  <Maxsigrows>7</Maxsigrows>
  <Moddisplay>0</Moddisplay>
  <Subforumsindex>1</Subforumsindex>
  <Stylejump>1</Stylejump>
  <Fastpost>2</Fastpost>
  <Showsignatures>1</Showsignatures>
  <Showavatars>1</Showavatars>
  <Showimages>1</Showimages>
  <Smiliesmax>100</Smiliesmax>
  <Archiverstatus>1</Archiverstatus>
  <Seotitle>晓风彩票软件-门户版12,论坛,ASP.net|论坛</Seotitle>
  <Seokeywords>晓风彩票软件-门户版,论坛,ASP.net,论坛</Seokeywords>
  <Seodescription>晓风彩票软件-门户版,论坛,asp.net,论坛</Seodescription>
  <Seohead />
  <Rssstatus>0</Rssstatus>
  <Rssttl>60</Rssttl>
  <Sitemapstatus>1</Sitemapstatus>
  <Sitemapttl>12</Sitemapttl>
  <Nocacheheaders>0</Nocacheheaders>
  <Fullmytopics>1</Fullmytopics>
  <Debug>0</Debug>
  <Rewriteurl />
  <Extname>.aspx</Extname>
  <Whosonlinestatus>3</Whosonlinestatus>
  <Maxonlinelist>300</Maxonlinelist>
  <Userstatusby>1</Userstatusby>
  <Forumjump>1</Forumjump>
  <Modworkstatus>1</Modworkstatus>
  <Maxmodworksmonths>3</Maxmodworksmonths>
  <Seccodestatus>register.aspx,login.aspx </Seccodestatus>
  <Guestcachepagetimeout>0</Guestcachepagetimeout>
  <Topiccachemark>0</Topiccachemark>
  <Maxonlines>5000</Maxonlines>
  <Postinterval>15</Postinterval>
  <Searchctrl>30</Searchctrl>
  <Maxspm>5</Maxspm>
  <Visitbanperiods />
  <Postbanperiods />
  <Postmodperiods />
  <Attachbanperiods />
  <Searchbanperiods />
  <Memliststatus>0</Memliststatus>
  <Dupkarmarate>1</Dupkarmarate>
  <Minpostsize>5</Minpostsize>
  <Maxpostsize>20000</Maxpostsize>
  <Tpp>20</Tpp>
  <Ppp>20</Ppp>
  <Maxfavorites>100</Maxfavorites>
  <Maxavatarsize>51200</Maxavatarsize>
  <Maxavatarwidth>100</Maxavatarwidth>
  <Maxavatarheight>100</Maxavatarheight>
  <Maxpolloptions>50</Maxpolloptions>
  <Maxattachments>10</Maxattachments>
  <Attachimgpost>1</Attachimgpost>
  <Attachrefcheck>0</Attachrefcheck>
  <Attachsave>1</Attachsave>
  <Watermarkstatus>0</Watermarkstatus>
  <Watermarktype>1</Watermarktype>
  <Watermarktransparency>5</Watermarktransparency>
  <Watermarktext>{3} {4}上传于{1} {2}</Watermarktext>
  <Watermarkpic>watermark.gif</Watermarkpic>
  <Watermarkfontname />
  <Watermarkfontsize>12</Watermarkfontsize>
  <Showattachmentpath>0</Showattachmentpath>
  <Attachimgquality>80</Attachimgquality>
  <Attachimgmaxheight>0</Attachimgmaxheight>
  <Attachimgmaxwidth>0</Attachimgmaxwidth>
  <Reasonpm>0</Reasonpm>
  <Moderactions>0</Moderactions>
  <Karmaratelimit>0</Karmaratelimit>
  <Losslessdel>0</Losslessdel>
  <Edittimelimit>0</Edittimelimit>
  <Editedby>1</Editedby>
  <Defaulteditormode>1</Defaulteditormode>
  <Allowswitcheditor>1</Allowswitcheditor>
  <Smileyinsert>1</Smileyinsert>
  <CookieDomain />
  <Passwordmode>0</Passwordmode>
  <Bbcodemode>0</Bbcodemode>
  <Fulltextsearch>0</Fulltextsearch>
  <Cachelog>0</Cachelog>
  <Onlinetimeout>-10</Onlinetimeout>
  <TopicQueueStats>0</TopicQueueStats>
  <TopicQueueStatsCount>0</TopicQueueStatsCount>
  <DisplayRateCount>30</DisplayRateCount>
  <Reportusergroup>1</Reportusergroup>
  <Photomangegroups />
  <Silverlight>0</Silverlight>
  <BrowseCreateTemplate>0</BrowseCreateTemplate>
  <Ratevalveset>1,50,200,600,800</Ratevalveset>
  <Topictoblog>1</Topictoblog>
  <Aspxrewrite>1</Aspxrewrite>
  <Viewnewtopicminute>120</Viewnewtopicminute>
  <Htmltitle>0</Htmltitle>
  <Htmltitleusergroup />
  <Specifytemplate>0</Specifytemplate>
  <VerifyImageAssemly />
  <Mytopicsavetime>30</Mytopicsavetime>
  <Mypostsavetime>30</Mypostsavetime>
  <Myattachmentsavetime>30</Myattachmentsavetime>
  <Enabletag>0</Enabletag>
  <Statscachelife>120</Statscachelife>
  <Statstatus>1</Statstatus>
  <Pvfrequence>60</Pvfrequence>
  <Oltimespan>10</Oltimespan>
  <Recommenddebates>1000,11,12</Recommenddebates>
  <Gpp>16</Gpp>
  <Hottagcount>0</Hottagcount>
  <Disablepostad>1</Disablepostad>
  <Disablepostadregminute>60</Disablepostadregminute>
  <Disablepostadpostcount>5</Disablepostadpostcount>
  <Disablepostadregular>        ((\d{4}|\d{4}-)?(\d(?:\s*)){7})|((\d{3}|\d{3}-)?\d{8})|(1(?:\s*)[35](?:\s*)[0123456789](?:\s*)(\d(?:\s*)){8})
        [qQ](.+?)(\d(?:\s*)){7}
    </Disablepostadregular>
  <Whosonlinecontract>0</Whosonlinecontract>
</GeneralConfigInfo>