<?xml version="1.0" encoding="utf-8"?>
<MyAttachmentsTypeConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<attachtypes> 
  
<AttachmentType> 
<TypeId>1</TypeId>
    <TypeName>1类</TypeName>
    <ExtName>jpg,gif</ExtName>
</AttachmentType>

<AttachmentType> 
 <TypeId>2</TypeId>
    <TypeName>3类</TypeName>
    <ExtName>torrent</ExtName>
</AttachmentType> 

<AttachmentType> 
 <TypeId>3</TypeId>
    <TypeName>2类</TypeName>
    <ExtName>rar,jpg</ExtName>
</AttachmentType> 
<AttachmentType> 
 <TypeId>4</TypeId>
    <TypeName>4类</TypeName>
    <ExtName>rar,jpg</ExtName>
</AttachmentType> 

</attachtypes>    
 </MyAttachmentsTypeConfigInfo>