<?xml version="1.0"?>
<ScheduleConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <enabled>true</enabled>
  <events>
    <Event key="TagEvent" is_system_event="true" time_of_day="-1" minutes="720" type="Discuz.Event.TagsEvent, Discuz" enabled="true" />
	<Event key="ForumEvent" is_system_event="true" time_of_day="1170" minutes="720" type="Discuz.Event.ForumEvent, Discuz" enabled="true" />
	<Event key="ScriptEvent" is_system_event="true" time_of_day="-1" minutes="1" type="Discuz.Event.ScriptEvent, Discuz" enabled="true" />
	<Event key="StatEvent" is_system_event="true" time_of_day="2" minutes="1440" type="Discuz.Event.StatEvent, Discuz" enabled="true" />
  </events>
  <minutes_interval>1</minutes_interval>
</ScheduleConfigInfo>