<%template _header%>
<div id="foruminfo">
	<div id="nav">
	 <a href="{config.forumurl}">{config.forumtitle}</a> &raquo; <strong>密码找回</strong>
	</div>
</div>
<%if {ispost}%>
<%if page_err==0%>
<%template _msgbox%>
<%else%>
<%template _errmsgbox%>
<%/if%>
<%else%>
<form id="form1" name="form1" method="post" action="getpassword.aspx#">
<div class="mainbox">
	<h3>密码找回</h3>
	<table cellpadding="0" cellspacing="0" border="0">
		<tbody>
			<tr>
				<th><label for="username">用户名</label></th>
				<td><input name="username" type="text" id="username" size="20" value="{username}" /></td>
			</tr>
		</tbody>
		<tbody>
			<tr>
				<th><label for="email">EMail</label></th>
				<td><input name="email" type="text" id="email" size="25" /></td>
			</tr>
		</tbody>
	<%if {isseccode}%>	
		<tbody>
			<tr>
				<th><label for="username">验证码</label></th>
				<td><%template _vcode%></td>
			</tr>
		</tbody>
	<%/if%>
		<tbody>
			<tr>
				<th><label for="question">安全问题</label></th>
				<td>
					 <select name="question" id="question">
						<option value="0" selected="selected">无</option>
						<option value="1">母亲的名字</option>
						<option value="2">爷爷的名字</option>
						<option value="3">父亲出生的城市</option>
						<option value="4">您其中一位老师的名字</option>
						<option value="5">您个人计算机的型号</option>
						<option value="6">您最喜欢的餐馆名称</option>
						<option value="7">驾驶执照的最后四位数字</option>
					  </select>
				</td>
			</tr>
		</tbody>
		<tbody>
			<tr>
				<th><label for="answer">答案</label></th>
				<td>
				<input name="answer" type="text" id="answer" size="50" />
				<p>如果您设置了安全提问，请在此输入正确的问题和回答</p>
				</td>
			</tr>
		</tbody>
		<tbody>
			<tr>
				<th>&nbsp;</th>
				<td>
					<input name="login" type="submit" id="login" value="取回密码" onclick="javascript:location.replace('?agree=yes')" />
					<input name="cancel" type="button" id="cancel" value="取消" onclick="javascript:location.replace('/')" />
				</td>
			</tr>
		</tbody>
	</table>
</div>
</form>
</div>
<%/if%>
<%template _copyright%>
<%template _footer%>