<%template _header%>
<div id="foruminfo">
	<div id="nav">
		<a href="{config.forumurl}">{config.forumtitle}</a>  &raquo; <a href="usercp.aspx">用户中心</a>  &raquo; <strong>我的回复</strong>
	</div>
	<div id="headsearch">
		<div id="search">
			<%template _quicksearch%>
		</div>
	</div>
</div>
<!--body-->
<script type="text/javascript">
	function checkCheckBox(form,objtag)
	{
		for(var i = 0; i < form.elements.length; i++) 
		{
			var e = form.elements[i];
			if(e.name == "pmitemid") 
			{
				e.checked = objtag.checked;
			}
		}
		objtag.checked = !objtag.checked;
	}
</script>
<div class="controlpannel">
   <%template _menu%>
	<div class="pannelcontent">
		<div class="pcontent">
			<div class="panneldetail">
				<div class="pannelbody">
					<div class="pannellist">
					<%if page_err==0%>
						<table width="100%" border="0" cellspacing="0" cellpadding="0">
						<tbody>
							<tr>
							<td width="2%">&nbsp;</td>
							<td width="4%">&nbsp;</td>
							<td width="40%" style="text-align:left;">所属主题</td>
							<td width="20%">所在版块</td>
							<td width="10%">作者</td>
							<td><span class="fontfamily">最后发表</span></td>
							</tr>
						<%loop (MyTopicInfo) topic topics%>
							<tr class="messagetable" onmouseover="this.className='messagetableon'" onmouseout="this.className='messagetable'">
							<td width="2%"><%if {topic.folder}!=""%>
							     <%set {aspxrewriteurl} = this.ShowTopicAspxRewrite({topic.tid},0)%>
								<a href="{aspxrewriteurl}" target="_blank"><img src="templates/{templatepath}/images/folder_{topic.folder}.gif" alt="图例"/></a>
									<%/if%>
							</td>
							<td width="4%"><%if {topic.iconid}!=0%><img src="images/posticons/{topic.iconid}.gif" alt="图例" /><%else%>&nbsp;<%/if%></td>
							<td width="40%" style="text-align:left;">
							    <%set {aspxrewriteurl} = this.ShowTopicAspxRewrite({topic.tid},0)%>
								<a href="{aspxrewriteurl}" target="_blank">{topic.title}</a></td>
							<td width="20%">
							    <%set {aspxrewriteurl} = this.ShowForumAspxRewrite({topic.fid},0)%>
								<a href="{aspxrewriteurl}" target="_blank">{topic.forumname}</a></td>
							<td width="10%"><%if {topic.posterid}!=-1%>
							<%set {aspxrewriteurl} = this.UserInfoAspxRewrite({topic.posterid})%>		
							<a href="{aspxrewriteurl}" target="_blank">{topic.poster}</a><%else%>{topic.poster}<%/if%></td>
							<td><span class="fontfamily"><a href="showtopic.aspx?topicid={topic.tid}&page=end"><script type="text/javascript">document.write(convertdate('{topic.lastpost}'));</script></a> by <%if {topic.lastposterid}!=-1%><a href="userinfo-{topic.lastposterid}{config.extname}" target="_blank">{topic.lastposter}</a><%else%>{topic.lastposter}<%/if%></span></td>
							</tr>
						<%/loop%>
						</tbody>
						</table>
						</div>						
						<div class="pages_btns">
							<div class="pages">
								<em>{pageid}/{pagecount}页</em>{pagenumbers}
								<kbd>跳转<input name="gopage" type="text" id="gopage" onKeyDown="if(event.keyCode==13) {
					window.location='myposts.aspx?page='+this.value;}"  size="4" maxlength="9" class="colorblue2"/>页</kbd>
							</div>
						</div>

					<%else%>
					<%template _usercperrmsgbox%>
					<%/if%>
			  </div>
			</div>
		</div>
	</div>
</div>
<!--body-->
</div>
<%template _copyright%>
<%template _footer%>
