<%template _header%>
<script type="text/javascript">
var templatepath = "{templatepath}";
var postminchars = parseInt({config.minpostsize});
var postmaxchars = parseInt({config.maxpostsize});
var disablepostctrl = parseInt({disablepostctrl});
var forumpath = "{forumpath}";
</script>
<%if {enabletag}%>
<script type="text/javascript" src="cache/tag/closedtags.txt"></script>
<script type="text/javascript" src="cache/tag/colorfultags.txt"></script>
<%/if%>
<script type="text/javascript" src="javascript/template_showtopic.js"></script>
<script type="text/javascript" src="javascript/ajax.js"></script>
<div id="foruminfo">
	<div id="nav">
		<div class="userinfolist">
			<p><a id="forumlist" href="{config.forumurl}" 
			<%if {config.forumjump}==1%>
			onmouseover="showMenu(this.id);" onmouseout="showMenu(this.id);"
			<%/if%>
			>{config.forumtitle}</a>  &raquo; {forumnav}
			<%set (int){ishtmltitle} = Topics.GetMagicValue(topic.Magic, MagicType.HtmlTitle)%>
			<%if {ishtmltitle}==1%>
				  &raquo; <strong>{Topics.GetHtmlTitle(topic.Tid)}</strong>
			<%else%>
				  &raquo; <strong>{topictitle}</strong>
			<%/if%>
		</p>
		</div>
	</div>
	<div id="headsearch">
		<div id="search">
				<%if {usergroupinfo.allowsearch}>0%>
					<%template _quicksearch%>
				<%/if%>
		</div>
	</div>
</div>
<%if {config.forumjump}==1%>
	{navhomemenu}
<%/if%>
<%if page_err==0%>
<%set (int){loopi}=1%>
<%set (int) {valuablepostcount} = 0%>
<%set (int) {valuelesspostcount} = 0 %>
<%loop (ShowbonusPagePostInfo) post postlist%>
    <%if {post.id}!=1 && {post.isbest}==1%>
        <%set {valuablepostcount} = {valuablepostcount}+1%>
    <%/if%>
    <%if {post.id}!=1 && {post.isbest}==0%>
        <%set {valuelesspostcount} = {valuelesspostcount}+1%>
    <%/if%>
	<%if {post.id}==1%>
		<div class="mainbox viewthread specialthread specialthread_5">
			<h3>
			<%if {forum.applytopictype}==1 && {forum.topictypeprefix}==1%>
				{topictypes} 
			<%/if%>
			<%set {aspxrewriteurl} = this.ShowTopicAspxRewrite({topic.tid},0)%>
				<a title="点击查看原始版本" href="{aspxrewriteurl}">悬赏主题</a>
			</h3>
			<table cellspacing="0" cellpadding="0" summary="悬赏主题">
				<tr>
				<td class="postcontent">
					<label>[已解决 - <a href="#bestpost">最佳答案</a>]
							悬赏价格: <strong>金币 {topic.price} </strong>
					</label>
					<h1>{post.title} </h1>
					<div  class="postmessage">
						<div id="firstpost">
							<h4>补充资料</h4>
							{post.message}
						</div>
						<div class="quote">
							<div class="text"><p>本帖得分:</p>
								<div class="attachmentinfo">
									<%loop (BonusLogInfo) bonuslog bonuslogs%>
										<%set {aspxrewriteurl} = this.UserInfoAspxRewrite({bonuslog.answerid})%>
										<%set (string) {unit} = scoreunit[ bonuslog.Extid ]%>
										<%set (string) {name} = score[ bonuslog.Extid ]%>
										<a href="{aspxrewriteurl}">{bonuslog.answername}</a>({bonuslog.bonus} {unit}{name})
										<%if {bonuslog__loop__id}!={bonuslogs.count}%>
											,
										<%/if%>
									<%/loop%>					
								</div>
							</div>
						</div>
					<%if {enabletag}%>				
						<script type="text/javascript">
							function forumhottag_callback(data)
							{
								tags = data;
							}
						</script>
						<script type="text/javascript" src="cache/hottags_forum_cache_jsonp.txt"></script>
						<div id="topictag">
							<%set (int){hastag} = Topics.GetMagicValue(topic.Magic, MagicType.TopicTag)%>
							<%if {hastag}==1%>
								<script type="text/javascript">getTopicTags({topic.tid});</script>
							<%else%>
								<script type="text/javascript">parsetag();</script>
							<%/if%>
						</div>
					<%/if%>
					</div>
				</td>
				<td class="postauthor">
					<%if {post.posterid}!=-1%>
					<cite>
						<a href="#" target="_blank" id="memberinfo_{loopi}" class="dropmenu"  onmouseover="showMenu(this.id,false)">
						<%if {post.onlinestate}==1%>					
						<img src="templates/{templatepath}/images/useronline.gif" alt="在线" title="在线"/>
						<%else%>
						<img src="templates/{templatepath}/images/useroutline.gif"  alt="离线" title="离线"/>
						<%/if%>
						{post.poster}
						</a>
					</cite>
					<%if {config.showavatars}==1%>
					<div class="avatar">
						<%if {post.avatar}!=""%>
						<img src="{post.avatar}" onerror="this.onerror=null;this.src='templates/{templatepath}/images/noavatar.gif';"  <%if {post.avatarwidth}>0%> width="{post.avatarwidth}" height="{post.avatarheight}" <%/if%> alt="头像" />			
						<%/if%>
					</div>
					<%/if%>
					<%if {post.nickname}!=""%>
					<p><em>{post.nickname}</em></p>
					<%/if%>
					<p>
						<script language="javascript" type="text/javascript">
							ShowStars({post.stars}, {config.starthreshold});
						</script>
					</p>
					<%if {config.enablespace}==1 || {config.enablealbum}==1%>
					<ul>
						<%if {config.enablespace}==1%>
						<li class="space">
						<%if {post.spaceid}>0%><a href="{spaceurl}space/?uid={post.posterid}">个人空间</a><%else%><a href="###" onclick="nospace('{post.poster}');">个人空间</a><%/if%>
						</li>
						<%/if%>
						<%if {config.enablealbum}==1%>
						<li class="albumpic"><a href="showalbumlist.aspx?uid={post.posterid}">相册</a></li>
						<%/if%>
					</ul>
					<%/if%>	
					<ul class="otherinfo">
						<li>性别:<script type="text/javascript">document.write(displayGender({post.gender}));</script></li>
						<%if {post.bday}!=""%>
						<li>生日:{post.bday}</li>
						<%/if%>
						<li>来自:{post.location}</li>
						<li>金币:{post.credits}</li>
						<li>帖子:{post.posts}</li>
						<li>注册:<%if {post.joindate}!=""%><%datetostr({post.joindate},"yyyy-MM-dd")%><%/if%></li>					
					</ul>
					<%if {post.medals}!=""%>
						<div class="medals">{post.medals}</div>
					<%/if%>
					<%else%>
						<div class="ipshow"><strong>{post.poster}</strong>  {post.ip}
							<%if {useradminid}>0 && {admininfo.allowviewip}==1%>
								<a href="getip.aspx?pid={post.pid}&topicid={topicid}" title="查看IP"><img src="templates/{templatepath}/images/ip.gif" alt="查看IP"/></a>
							<%/if%>
						</div>
						<div class="noregediter">
							未注册
						</div>
					<%/if%>
				</td>
				</tr>
				<tr>
				<td class="postcontent">
					<div class="postactions">
						<%if {userid}!=-1%>
							<%template _report%>|
						<%/if%>						
						<a href="favorites.aspx?topicid={topicid}">收藏</a>|
						<%if {ismoder}==1%>
							<a href="editpost.aspx?topicid={topicid}&postid={post.pid}">编辑</a>|
							<a href="delpost.aspx?topicid={topicid}&postid={post.pid}" onclick="return confirm('确定要删除吗?');">删除</a>|
							<%if {post.posterid}!=-1%>
								<a href="###" onclick="action_onchange('rate',$('moderate'),'{post.pid}');">评分</a>
								<%if {post.ratetimes}>0%>
								|<a href="###" onclick="action_onchange('cancelrate',$('moderate'),'{post.pid}');">撤销评分</a>&nbsp;
								<%/if%>
							<%/if%>
						<%else%>
							<%if {post.posterid}!=-1 && {userid}=={post.posterid}%>
								<%if {topic.closed}==0%>
									<a href="editpost.aspx?topicid={topicid}&postid={post.pid}">编辑</a>|
								<%/if%>
								<a href="delpost.aspx?topicid={topicid}&postid={post.pid}" onclick="return confirm('确定要删除吗?');">删除</a>|
							<%/if%>
							<%if {usergroupinfo.raterange}!="" && {post.posterid}!=-1%><a href="###" onclick="action_onchange('rate',$('moderate'),'{post.pid}');">评分</a>
							<%/if%>
						<%/if%>
					</div>
				</td>
				<td class="postauthor">
					&nbsp;
				</td>
				</tr>
			</table>
		</div>	
	<%else if {post.isbest}==2%>
		<div class="box othergoodsinfo">
			<ul class="tabs">
				 <li class="current"><a name="bestpost"></a>最佳答案</li>
			</ul>
			<div class="specialpost">
				<div class="postinfo">
					<%set {aspxrewriteurl} = this.UserInfoAspxRewrite({post.posterid})%>
					<h2><a id="memberinfo_{loopi}" href="{aspxrewriteurl}" target="_blank" onmouseover="showMenu(this.id,false)" class="dropmenu">{post.poster}</a> <span><%datetostr({post.postdatetime},"yyyy-MM-dd hh:mm")%></span></h2>
					<cite>
					    <%if {ismoder}==1%>
					        <a href="editpost.aspx?topicid={topicid}&postid={post.pid}&pageid={pageid}">编辑</a>
					        <a href="delpost.aspx?topicid={topicid}&postid={post.pid}" onclick="return confirm('确定要删除吗?');">删除</a>
					    <%else%>
					        <%if {post.posterid}!=-1 && {userid}=={post.posterid}%>
					            <%if {topic.closed}==0%>
						            <a href="editpost.aspx?topicid={topicid}&postid={post.pid}&pageid={pageid}">编辑</a>
					            <%/if%>
					            <a href="delpost.aspx?topicid={topicid}&postid={post.pid}" onclick="return confirm('确定要删除吗?');">删除</a>
					        <%/if%>
					    <%/if%>
						<%if {canreply}%>
							<a href="postreply.aspx?topicid={topicid}&postid={post.pid}&quote=yes">引用</a>
							<%if {userid}!=-1%>
								<a href="###" onclick="replyToFloor('{post.id}', '{post.poster}', '{post.pid}')">回复</a>
							<%/if%>
						<%/if%>
					</cite>
				</div>
				<div class="postmessage">
					<div class="t_msgfont">{post.message}</div>
				</div>
			</div>
		</div>
	<%/if%>
	<%if {post.posterid}!=-1%>
		<!-- member menu -->
		<div class="popupmenu_popup userinfopanel" id="memberinfo_{loopi}_menu" style="display: none; z-index: 50; filter: progid:dximagetransform.microsoft.shadow(direction=135,color=#cccccc,strength=2); left: 19px; clip: rect(auto auto auto auto); position absolute; top: 253px; width:150px;" initialized ctrlkey="userinfo2" h="209">
				<p class="recivemessage"><a href="usercppostpm.aspx?msgtoid={post.posterid}" target="_blank">发送短消息</a></p>
			<%if {useradminid}>0%>
				<%if {admininfo.allowviewip}==1%>
				<p  class="seeip"><a href="getip.aspx?pid={post.pid}&topicid={topicid}" title="查看IP">查看IP</a></p>
				<%/if%>
				<%if {admininfo.allowbanuser}==1%>
				<p><a href="useradmin.aspx?action=banuser&uid={post.posterid}" title="禁止用户">禁止用户</a></p>
				<%/if%>
			<%/if%>
				<p>
					<%set {aspxrewriteurl} = this.UserInfoAspxRewrite({post.posterid})%>
				<a href="{aspxrewriteurl}" target="_blank">查看公共资料</a></p>
				<p><a href="search.aspx?posterid={post.posterid}">查找该会员全部帖子</a></p>
				<ul>
				<li>UID:{post.posterid}</li>
				<li>精华:<%if {post.digestposts}>0%><a href="search.aspx?posterid={post.posterid}&type=digest">{post.digestposts}</a><%else%>{post.digestposts}<%/if%></li>
				<%if {score[1]}!=""%>
					<li>{score[1]}:{post.extcredits1} {scoreunit[1]}</li>
				<%/if%>
				<%if {score[2]}!=""%>
					<li>{score[2]}:{post.extcredits2} {scoreunit[2]}</li>
				<%/if%>
				<%if {score[3]}!=""%>
					<li>{score[3]}:{post.extcredits3} {scoreunit[3]}</li>
				<%/if%>
				<%if {score[4]}!=""%>
					<li>{score[4]}:{post.extcredits4} {scoreunit[4]}</li>
				<%/if%>
				<%if {score[5]}!=""%>
					<li>{score[5]}:{post.extcredits5} {scoreunit[5]}</li>
				<%/if%>
				<%if {score[6]}!=""%>
					<li>{score[6]}:{post.extcredits6} {scoreunit[6]}</li>
				<%/if%>
				<%if {score[7]}!=""%>
					<li>{score[7]}:{post.extcredits7} {scoreunit[7]}</li>
				<%/if%>
				<%if {score[8]}!=""%>
					<li>{score[8]}:{post.extcredits8} {scoreunit[8]}</li>
				<%/if%>
				</ul>
				<p>状态:<%if {post.onlinestate}==1%>在线<%else%>离线<%/if%></p>
				<ul class="tools">
					<%if {post.msn}!=""%>
					<li>
						<img src="templates/{templatepath}/images/msnchat.gif" alt="MSN Messenger: {post.msn}"/>
						<a href="mailto:{post.msn}" target="_blank">{post.msn}</a>
					</li>
					<%/if%>
					<%if {post.skype}!=""%>
					<li>
						<img src="templates/{templatepath}/images/skype.gif" alt="Skype: {post.skype}"/>
						<a href="skype:{post.skype}" target="_blank">{post.skype}</a>
					</li>
					<%/if%>
					<%if {post.icq}!=""%>
					<li>
						<img src="templates/{templatepath}/images/icq.gif" alt="ICQ: {post.icq}" />
						<a href="http://wwp.icq.com/scripts/search.dll?to={post.icq}" target="_blank">{post.icq}</a>
					</li>
					<%/if%>
					<%if {post.qq}!=""%>
					<li>
						<img src="templates/{templatepath}/images/qq.gif" alt="QQ: {post.qq}"/>
						<a href="http://wpa.qq.com/msgrd?V=1&Uin={post.qq}&Site={config.forumtitle}&Menu=yes" target="_blank">{post.qq}</a>
					</li>
					<%/if%>
					<%if {post.yahoo}!=""%>
					<li>
						<img src="templates/{templatepath}/images/yahoo.gif" width="16" alt="Yahoo Messenger: {post.yahoo}"/>
						<a href="http://edit.yahoo.com/config/send_webmesg?.target={post.yahoo}&.src=pg" target="_blank">{post.yahoo}</a>
					</li>
					<%/if%>
				</ul>
		</div>
		<!-- member menu -->
	<%/if%>
<%set {loopi}={loopi}+1%>
<%/loop%>


<%if {postlist.count}>=2%>		
<%if {valuablepostcount}!=0%>
<div id="ajaxdebateposts">
<div class="box specialpostcontainer">
	 <ul class="tabs">
		<li class="current">有价值的答案</li>
	 </ul>
<%loop (ShowbonusPagePostInfo) valuablepost postlist%>
	<%if {valuablepost.id}!=1 && {valuablepost.isbest}==1%>	
			<div class="specialpost">
				<div class="postinfo">
					<%set {aspxrewriteurl} = this.UserInfoAspxRewrite({valuablepost.posterid})%>
					<h2><a id="memberinfo_{loopi}" href="{aspxrewriteurl}" target="_blank" onmouseover="showMenu(this.id,false)" class="dropmenu">{valuablepost.poster}</a> <span><%datetostr({valuablepost.postdatetime},"yyyy-MM-dd hh:mm")%></span></h2>
					<cite>
					    <%if {ismoder}==1%>
					        <a href="editpost.aspx?topicid={topicid}&postid={valuablepost.pid}&pageid={pageid}">编辑</a>
					        <a href="delpost.aspx?topicid={topicid}&postid={valuablepost.pid}" onclick="return confirm('确定要删除吗?');">删除</a>
					    <%else%>
					        <%if {valuablepost.posterid}!=-1 && {userid}=={valuablepost.posterid}%>
					            <%if {topic.closed}==0%>
						            <a href="editpost.aspx?topicid={topicid}&postid={valuablepost.pid}&pageid={pageid}">编辑</a>
					            <%/if%>
					            <a href="delpost.aspx?topicid={topicid}&postid={valuablepost.pid}" onclick="return confirm('确定要删除吗?');">删除</a>
					        <%/if%>
					    <%/if%>
						<%if {canreply}%>
							<a href="postreply.aspx?topicid={topicid}&postid={valuablepost.pid}&quote=yes">引用</a>
							<%if {userid}!=-1%>
								<a href="###" onclick="replyToFloor('{valuablepost.id}', '{valuablepost.poster}', '{valuablepost.pid}')">回复</a>
							<%/if%>
						<%/if%>
					</cite>
				</div>
				<div class="postmessage">
					<div class="t_msgfont">{valuablepost.message}</div>
				</div>				
			</div>	
			<%if {valuablepost.posterid}!=-1%>
				<!-- member menu -->
				<div class="popupmenu_popup userinfopanel" id="memberinfo_{loopi}_menu" style="display: none; z-index: 50; filter: progid:dximagetransform.microsoft.shadow(direction=135,color=#cccccc,strength=2); left: 19px; clip: rect(auto auto auto auto); position absolute; top: 253px; width:150px;" initialized ctrlkey="userinfo2" h="209">
					<p class="recivemessage"><a href="usercppostpm.aspx?msgtoid={valuablepost.posterid}" target="_blank">发送短消息</a></p>
				<%if {useradminid}>0%>
					<%if {admininfo.allowviewip}==1%>
					<p  class="seeip"><a href="getip.aspx?pid={valuablepost.pid}&topicid={topicid}" title="查看IP">查看IP</a></p>
					<%/if%>
					<%if {admininfo.allowbanuser}==1%>
					<p><a href="useradmin.aspx?action=banuser&uid={valuablepost.posterid}" title="禁止用户">禁止用户</a></p>
					<%/if%>
				<%/if%>
					<p>
						<%set {aspxrewriteurl} = this.UserInfoAspxRewrite({valuablepost.posterid})%>
					<a href="{aspxrewriteurl}" target="_blank">查看公共资料</a></p>
					<p><a href="search.aspx?posterid={valuablepost.posterid}">查找该会员全部帖子</a></p>
					<ul>
					<li>UID:<span>{valuablepost.posterid}</span></li>
					<li>精华:<span><%if {valuablepost.digestposts}>0%><a href="search.aspx?posterid={valuablepost.posterid}&type=digest">{valuablepost.digestposts}</a><%else%>{valuablepost.digestposts}<%/if%></span></li>
					<%if {score[1]}!=""%>
						<li>{score[1]}:<span>{valuablepost.extcredits1} {scoreunit[1]}</span></li>
					<%/if%>
					<%if {score[2]}!=""%>
						<li>{score[2]}:<span>{valuablepost.extcredits2} {scoreunit[2]}</span></li>
					<%/if%>
					<%if {score[3]}!=""%>
						<li>{score[3]}:<span>{valuablepost.extcredits3} {scoreunit[3]}</span></li>
					<%/if%>
					<%if {score[4]}!=""%>
						<li>{score[4]}:<span>{valuablepost.extcredits4} {scoreunit[4]}</span></li>
					<%/if%>
					<%if {score[5]}!=""%>
						<li>{score[5]}:<span>{valuablepost.extcredits5} {scoreunit[5]}</span></li>
					<%/if%>
					<%if {score[6]}!=""%>
						<li>{score[6]}:<span>{valuablepost.extcredits6} {scoreunit[6]}</span></li>
					<%/if%>
					<%if {score[7]}!=""%>
						<li>{score[7]}:<span>{valuablepost.extcredits7} {scoreunit[7]}</span></li>
					<%/if%>
					<%if {score[8]}!=""%>
						<li>{score[8]}:<span>{valuablepost.extcredits8} {scoreunit[8]}</span></li>
					<%/if%>
					</ul>
					<p>状态:<span><%if {valuablepost.onlinestate}==1%>
						在线
						<%else%>
						离线
						<%/if%></span>
					</p>
					<ul class="tools">
						<%if {valuablepost.msn}!=""%>
						<li>
							<img src="templates/{templatepath}/images/msnchat.gif" alt="MSN Messenger: {valuablepost.msn}"/>
							<a href="mailto:{valuablepost.msn}" target="_blank">{valuablepost.msn}</a>
						</li>
						<%/if%>
						<%if {valuablepost.skype}!=""%>
						<li>
							<img src="templates/{templatepath}/images/skype.gif" alt="Skype: {valuablepost.skype}"/>
							<a href="skype:{valuablepost.skype}" target="_blank">{valuablepost.skype}</a>
						</li>
						<%/if%>
						<%if {valuablepost.icq}!=""%>
						<li>
							<img src="templates/{templatepath}/images/icq.gif" alt="ICQ: {valuablepost.icq}" />
							<a href="http://wwp.icq.com/scripts/search.dll?to={valuablepost.icq}" target="_blank">{valuablepost.icq}</a>
						</li>
						<%/if%>
						<%if {valuablepost.qq}!=""%>
						<li>
							<img src="templates/{templatepath}/images/qq.gif" alt="QQ: {valuablepost.qq}"/>
							<a href="http://wpa.qq.com/msgrd?V=1&Uin={valuablepost.qq}&Site={config.forumtitle}&Menu=yes" target="_blank">{valuablepost.qq}</a>
						</li>
						<%/if%>
						<%if {valuablepost.yahoo}!=""%>
						<li>
							<img src="templates/{templatepath}/images/yahoo.gif" width="16" alt="Yahoo Messenger: {valuablepost.yahoo}"/>
							<a href="http://edit.yahoo.com/config/send_webmesg?.target={valuablepost.yahoo}&.src=pg" target="_blank">{valuablepost.yahoo}</a>
						</li>
						<%/if%>
					</ul>
				</div>
				<!-- member menu -->
			<%/if%>
	<%/if%>

<%set {loopi}={loopi}+1%>
<%/loop%>
	</div>
<%/if%>
<%if {valuelesspostcount}!=0%>
        <div class="box othergoodsinfo">
			<ul class="tabs">
				<li class="current">其它答案</li>
			</ul>
			<%loop (ShowbonusPagePostInfo) valueless postlist%>
			<%if {valueless.id}>1 && {valueless.isbest}==0%>
			<div class="specialpost">
				<div class="postinfo">
					<%set {aspxrewriteurl} = this.UserInfoAspxRewrite({valueless.posterid})%>
					<h2><a id="memberinfo_{loopi}" href="{aspxrewriteurl}" target="_blank" onmouseover="showMenu(this.id,false)" class="dropmenu">{valueless.poster}</a> <span><%datetostr({valueless.postdatetime},"yyyy-MM-dd hh:mm")%></span></h2>
					<cite>
					    <%if {ismoder}==1%>
					        <a href="editpost.aspx?topicid={topicid}&postid={valueless.pid}&pageid={pageid}">编辑</a>
					        <a href="delpost.aspx?topicid={topicid}&postid={valueless.pid}" onclick="return confirm('确定要删除吗?');">删除</a>
					    <%else%>
					        <%if {valueless.posterid}!=-1 && {userid}=={valueless.posterid}%>
					            <%if {topic.closed}==0%>
						            <a href="editpost.aspx?topicid={topicid}&postid={valueless.pid}&pageid={pageid}">编辑</a>
					            <%/if%>
					            <a href="delpost.aspx?topicid={topicid}&postid={valueless.pid}" onclick="return confirm('确定要删除吗?');">删除</a>
					        <%/if%>
					    <%/if%>
						<%if {canreply}%>
							<a href="postreply.aspx?topicid={topicid}&postid={valueless.pid}&quote=yes">引用</a>
							<%if {userid}!=-1%>
								<a href="###" onclick="replyToFloor('{valueless.id}', '{valueless.poster}', '{valueless.pid}')">回复</a>
							<%/if%>
						<%/if%>
					</cite>
				</div>
				<div class="postmessage">
					<div class="t_msgfont">{valueless.message}</div>
				</div>
			</div>
			<%if {valueless.posterid}!=-1%>
				<!-- member menu -->
				<div class="popupmenu_popup userinfopanel" id="memberinfo_{loopi}_menu" style="display: none; z-index: 50; filter: progid:dximagetransform.microsoft.shadow(direction=135,color=#cccccc,strength=2); left: 19px; clip: rect(auto auto auto auto); position absolute; top: 253px; width:150px;" initialized ctrlkey="userinfo2" h="209">
					<p class="recivemessage"><a href="usercppostpm.aspx?msgtoid={valueless.posterid}" target="_blank">发送短消息</a></p>
				<%if {useradminid}>0%>
					<%if {admininfo.allowviewip}==1%>
					<p  class="seeip"><a href="getip.aspx?pid={valueless.pid}&topicid={topicid}" title="查看IP">查看IP</a></p>
					<%/if%>
					<%if {admininfo.allowbanuser}==1%>
					<p><a href="useradmin.aspx?action=banuser&uid={valueless.posterid}" title="禁止用户">禁止用户</a></p>
					<%/if%>
				<%/if%>
					<p>
						<%set {aspxrewriteurl} = this.UserInfoAspxRewrite({valueless.posterid})%>
					<a href="{aspxrewriteurl}" target="_blank">查看公共资料</a></p>
					<p><a href="search.aspx?posterid={valueless.posterid}">查找该会员全部帖子</a></p>
					<ul>
					<li>UID:<span>{valueless.posterid}</span></li>
					<li>精华:<span><%if {valueless.digestposts}>0%><a href="search.aspx?posterid={valueless.posterid}&type=digest">{valueless.digestposts}</a><%else%>{valueless.digestposts}<%/if%></span></li>
					<%if {score[1]}!=""%>
						<li>{score[1]}:<span>{valueless.extcredits1} {scoreunit[1]}</span></li>
					<%/if%>
					<%if {score[2]}!=""%>
						<li>{score[2]}:<span>{valueless.extcredits2} {scoreunit[2]}</span></li>
					<%/if%>
					<%if {score[3]}!=""%>
						<li>{score[3]}:<span>{valueless.extcredits3} {scoreunit[3]}</span></li>
					<%/if%>
					<%if {score[4]}!=""%>
						<li>{score[4]}:<span>{valueless.extcredits4} {scoreunit[4]}</span></li>
					<%/if%>
					<%if {score[5]}!=""%>
						<li>{score[5]}:<span>{valueless.extcredits5} {scoreunit[5]}</span></li>
					<%/if%>
					<%if {score[6]}!=""%>
						<li>{score[6]}:<span>{valueless.extcredits6} {scoreunit[6]}</span></li>
					<%/if%>
					<%if {score[7]}!=""%>
						<li>{score[7]}:<span>{valueless.extcredits7} {scoreunit[7]}</span></li>
					<%/if%>
					<%if {score[8]}!=""%>
						<li>{score[8]}:<span>{valueless.extcredits8} {scoreunit[8]}</span></li>
					<%/if%>
					</ul>
					<p>状态:<span><%if {valueless.onlinestate}==1%>
						在线
						<%else%>
						离线
						<%/if%></span>
					</p>
					<ul class="tools">
						<%if {valueless.msn}!=""%>
						<li>
							<img src="templates/{templatepath}/images/msnchat.gif" alt="MSN Messenger: {valueless.msn}"/>
							<a href="mailto:{valueless.msn}" target="_blank">{valueless.msn}</a>
						</li>
						<%/if%>
						<%if {valueless.skype}!=""%>
						<li>
							<img src="templates/{templatepath}/images/skype.gif" alt="Skype: {valueless.skype}"/>
							<a href="skype:{valueless.skype}" target="_blank">{valueless.skype}</a>
						</li>
						<%/if%>
						<%if {valueless.icq}!=""%>
						<li>
							<img src="templates/{templatepath}/images/icq.gif" alt="ICQ: {valueless.icq}" />
							<a href="http://wwp.icq.com/scripts/search.dll?to={valueless.icq}" target="_blank">{valueless.icq}</a>
						</li>
						<%/if%>
						<%if {valueless.qq}!=""%>
						<li>
							<img src="templates/{templatepath}/images/qq.gif" alt="QQ: {valueless.qq}"/>
							<a href="http://wpa.qq.com/msgrd?V=1&Uin={valueless.qq}&Site={config.forumtitle}&Menu=yes" target="_blank">{valueless.qq}</a>
						</li>
						<%/if%>
						<%if {valueless.yahoo}!=""%>
						<li>
							<img src="templates/{templatepath}/images/yahoo.gif" width="16" alt="Yahoo Messenger: {valueless.yahoo}"/>
							<a href="http://edit.yahoo.com/config/send_webmesg?.target={valueless.yahoo}&.src=pg" target="_blank">{valueless.yahoo}</a>
						</li>
						<%/if%>
					</ul>
				</div>
				<!-- member menu -->
			<%/if%>
			<%/if%>
			<%set {loopi}={loopi}+1%>
			<%/loop%>
		</div>
<%/if%>
<%if {canreply} && {userid}!=-1%>
<!--快速回复主题,将_ajaxquickreply替换成_quickreply可变为传统form提交方式-->
		<%template _quickreply%>
<%/if%>
<%if {useradminid}>0||{usergroupinfo.raterange}!=""||{config.forumjump}==1%>
<div id="footfilter" class="box">
	<%if {useradminid}>0%>
		<script type="text/javascript">
			function action_onchange(value,objfrm,postid){
				if (value != ''){
					objfrm.operat.value = value;
					objfrm.postid.value = postid;
					if(value != 'delpost'){
						objfrm.submit();
					}
					else{
						$('delpost').submit();
					}
				}
			}
		</script>
		<form id="moderate" name="moderate" method="post" action="topicadmin.aspx?action=moderate&forumid={forumid}">
			<input name="forumid" type="hidden" value="{forumid}" />
			<input name="topicid" type="hidden" value="{topicid}" />
			<input name="postid" type="hidden" value="" />
			<input name="operat" type="hidden" value="" />

			<select id="operatSel" onchange="action_onchange(this.options[this.selectedIndex].value,this.form,0);"
				name="operatSel">
				<option value="" selected="selected">管理选项</option>
				<option value="delete">删除主题</option>
				<option value="delpost">批量删帖</option>
				<option value="close">关闭主题</option>
				<option value="move">移动主题</option>
				<option value="copy">复制主题</option>
				<option value="highlight">高亮显示</option>
				<option value="digest">设置精华</option>
				<option value="identify">鉴定主题</option>
				<option value="displayorder">主题置顶</option>
				<option value="split">分割主题</option>
				<option value="merge">合并主题</option>
				<option value="repair">修复主题</option>
			</select>

		</form>
	<%else if {usergroupinfo.raterange}!=""%>
		<script type="text/javascript">
			function action_onchange(value,objfrm,postid){
				if (value != ''){
					objfrm.operat.value = value;
					objfrm.postid.value = postid;
					if(value != 'delpost'){
						objfrm.submit();
					}
					else{
						$('delpost').submit();
					}
				}
			}
		</script>
		<form id="moderate" name="moderate" method="post" action="topicadmin.aspx?action=moderate&forumid={forumid}">
			<input name="forumid" type="hidden" value="{forumid}" />
			<input name="topicid" type="hidden" value="{topicid}" />
			<input name="postid" type="hidden" value="" />
			<input name="operat" type="hidden" value="" />
		</form>
	<%/if%>
	<%if {config.forumjump}==1%>
		<select onchange="if(this.options[this.selectedIndex].value != '') {if({config.aspxrewrite}) {
		window.location='showforum-'+this.options[this.selectedIndex].value+'{config.extname}'; }else{window.location='showforum.aspx?forumid='+this.options[this.selectedIndex].value;}}">
			  <option>论坛跳转...</option>
			{forumlistboxoptions}
		</select>
	<%/if%>
</div>
<%/if%>
<%/if%>
<%else%>
	<%if {needlogin}%>
		<%template _login%>
	<%else%>
		<%template _errmsgbox%>
	<%/if%>
<%/if%>
</div>
<%template _copyright%>
<%template _adlist%>
<%template _footer%>