body
{
    padding: 0px;
    margin: 0px;
    font-size: 12px;
    font-family: 宋体, Tahoma, Arial;
}
.MainForm
{
    width: 1000px;
    text-align: left;
    background-color: #FFFFFF;
}
.Menu1
{
}
.Menu1 a
{
    line-height: 100px;
    margin-left: 12px;
    text-decoration: none;
    font-family: 幼圆;
    font-weight: bold;
    font-size: 127%;
    color: #005BAA;
}