body
{
    margin: 0px;
    font-size: 12px;
    font-family: ËÎÌå, Tahoma, Arial;
    background-color: #EEF3FA;
}
.MainForm
{
    width: 1000px;
    text-align: left;
    background-color: #FFFFFF;
}
.Header
{
    background-image: url('../Images/menu_bg.png');
    height: 100px;
    background-repeat: repeat-x;
}
.Header .Logo
{
    margin-left: 30px;
    margin-right: 35px;
    margin-top: 20px;
    float: left;
}
.TitleImage
{
}
.Menu1
{
}
.Menu1 ul
{
}
.Menu1 ul li
{
    list-style-type: none;
    float: left;
    line-height: 100px;
    margin-right: 12px;
}
.Menu1 ul li a
{
    text-decoration: none; 
    font-family: ºÚÌå;
    font-size: 150%;
    color: #005BAA;
    font-weight: bold;
}
.Menu2
{
    width: 300px;
    float: left;
    min-height: 220px;
}
.Menu2 ul
{
}
.Menu2 ul li
{
    list-style-type: none;
    line-height: 22px;
}
.Content
{
}
.Footer
{
}
