body
{
    padding: 0px;
    margin: 0px;
    font-size: 12px;
    font-family: 宋体, Tahoma, Arial;
    background-color: #EEF3FA;
}
.MainForm
{
    width: 1000px;
    text-align: left;
    background-color: #FFFFFF;
}
.Header
{
    background-image: url('../Images/menu_bg.png');
    height: 80px;
    background-repeat: repeat-x;
}
.Header .Logo
{
    margin-left: 30px;
    margin-right: 35px;
    margin-top: 8px;
    float: left;
}
.TitleImage
{
    height: 300px;
    background-image: url('../Images/header.png');
    background-repeat: no-repeat;
}
.MusicPlayer
{
    width: 200px;
    position: relative;
    left: 790px;
    top: -30px;
}
.SplitLeft
{
    display: block;
    float: left;
    width: 14px;
    min-height: 130px;
    background-image: url('../Images/split_bg_left.png');
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 20px;
    margin-right: 20px;
}
.Menu1
{
}
.Menu1 ul
{
}
.Menu1 ul li
{
    list-style-type: none;
    float: left;
    height: 80px;
    margin-right: 12px;
    background-image: url('../Images/split_bg_menu.png');
    background-repeat: no-repeat;
    background-position: left;
}
.Menu1 ul li a
{
    line-height: 80px;
    margin-left: 12px;
    text-decoration: none;
    font-family: 幼圆;
    font-weight: bold;
    font-size: 127%;
    color: #005BAA;
}
.Menu2
{
    width: 300px;
    float: left;
    min-height: 220px;
}
.Menu2 ul
{
    margin-top: 40px;
}
.Menu2 ul li
{
    list-style-type: none;
    height: 47px;
    border-bottom: dotted 1px #336AAD;
    text-align: center;
}
.Menu2 ul li a
{
    text-decoration: none;
    color: #6690C0;
    line-height: 47px;
    font-family: 幼圆;
    font-weight: bold;
    font-size: 120%;
}
.Menu2 ul li.Selected
{
    background-image: url('../Images/menu2_bg_selected.png');
    background-repeat: repeat-x;
}
.Menu2 ul li:hover
{
    background-image: url('../Images/menu2_bg_selected.png');
    background-repeat: repeat-x;
}
.Menu2 ul:first-child
{
    /* border-top: dotted 1px #336AAD; */
}
.NoticeBox
{
    clear: both;
    display: block;
    height: 60px;
    border: solid 1px #fec698;
    background: #fef7dc;
    margin-bottom: 2px;
    text-align: center;
}
.NoticeBox ul
{
    margin: 0px;
    list-style-type: disc;
    list-style-position: outside;
    overflow: hidden;
}
.NoticeBox ul li
{
    float: left;
    line-height: 60px;
    padding: px;
    margin-right: 32px;
}
.NoticeBox a
{
    color: #2986D1;
    font-family: 黑体;
    font-size: 14px;
    line-height: 60px;
}
.HiddenDiv
{
    display: none;
}
.Content
{
    padding: 20px;
    min-height: 430px;
}
.Footer
{
    background-color: #FFFFFF;
}
.Footer .Spliter
{
    width: 1000px;
    background-image: url('../Images/split_bg_bottom.png');
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 36px;
    padding-bottom: 10px;
    background-color: #FFFFFF;
}
.Footer .Spliter span, a
{
    text-decoration: none;
    color: #6690C0;
    line-height: 28px;
    font-family: 幼圆;
    font-weight: bold;
    font-size: 100%;
    margin-left: 10px;
    margin-right: 10px;
}
