#box {	overflow:hidden; width:1002px; margin-right: auto;	margin-left: auto;	padding: 0px;}
#content { width: 1002px; padding: 15px 0px 0px 0px; overflow:hidden; MARGIN-RIGHT: auto; MARGIN-LEFT: auto; }	
#index_left { float: left; width: 188px;padding: 0px; overflow:hidden; }
#index_center { float: left; width: 558px;padding: 0px 0px 0px 10px; overflow:hidden; }
#index_right { float: left; width: 236px;padding: 0px 0px 0px 10px; overflow:hidden; }

#user_r { float: left; width: 808px;padding: 0px 0px 0px 10px; overflow:hidden;}
#user_left { float: left; width: 300px;padding: 0px; overflow:hidden; }
#user_center { float: left; width: 402px;padding: 0px; overflow:hidden; }
#user_right { float: left; width: 300px;padding: 0px; overflow:hidden; }

#menu_left { float: left; width: 148px;padding: 0px; overflow:hidden; word-wrap:break-word; }
#menu_right { float: left; width: 842px;padding: 0px 0px 0px 10px; overflow:hidden; }

#admin_center { float: left; width: 550px;padding: 0px; overflow:hidden; }
#admin_right { float: left; width: 282px;padding: 0px 0px 0px 10px; overflow:hidden; }

#cz_center { float: left; width: 612px;padding: 0px; overflow:hidden; }
#cz_right { float: left; width: 220px;padding: 0px 0px 0px 10px; overflow:hidden; }

#hr {border-top:1px dashed #cccccc;height: 1px;overflow:hidden;}

body {	margin-top: 0px;margin-left: 0px;margin-bottom: 0px;margin-right: 0px;background-color:#FFF;background-repeat: repeat-x;background-position: center top;}

.left_menu { border: 1px #CCC; width:100%;	}

.cyw_menu { FONT-SIZE: 12px;COLOR: #FFFFFF; FONT-FAMILY: "tahoma"; LINE-HEIGHT: 20px;}
.cyw_menu A:link { FONT-FAMILY: "tahoma"; COLOR: #FFFFFF; TEXT-DECORATION: none;}
.cyw_menu A:active { FONT-FAMILY: "tahoma";COLOR: #FFFFFF; TEXT-DECORATION: none;}
.cyw_menu A:visited { FONT-FAMILY: "tahoma";COLOR: #FFFFFF; TEXT-DECORATION: none;}
.cyw_menu A:hover { FONT-FAMILY: "tahoma";COLOR: #FFFF00; TEXT-DECORATION: none;}

.bai14 { FONT-SIZE: 14px;COLOR: #FFFFFF; FONT-FAMILY: "tahoma"; LINE-HEIGHT: 20px; font-weight:bold;}
.bai14 A:link { FONT-FAMILY: "tahoma"; COLOR: #FFFFFF; TEXT-DECORATION: none;}
.bai14 A:active { FONT-FAMILY: "tahoma";COLOR: #FFFFFF; TEXT-DECORATION: none;}
.bai14 A:visited { FONT-FAMILY: "tahoma";COLOR: #FFFFFF; TEXT-DECORATION: none;}
.bai14 A:hover { FONT-FAMILY: "tahoma";COLOR: #FFFF00; TEXT-DECORATION: none;}

.bai12 { FONT-SIZE: 12px;COLOR: #FFFFFF; FONT-FAMILY: "tahoma"; LINE-HEIGHT: 20px; font-weight:bold;}
.bai12 A:link { FONT-FAMILY: "tahoma"; COLOR: #FFFFFF; TEXT-DECORATION: none;}
.bai12 A:active { FONT-FAMILY: "tahoma";COLOR: #FFFFFF; TEXT-DECORATION: none;}
.bai12 A:visited { FONT-FAMILY: "tahoma";COLOR: #FFFFFF; TEXT-DECORATION: none;}
.bai12 A:hover { FONT-FAMILY: "tahoma";COLOR: #FFFFFF; TEXT-DECORATION: none;}

.red14 { FONT-SIZE: 14px;COLOR: #FF0065; FONT-FAMILY: "tahoma"; LINE-HEIGHT: 20px; font-weight:bold;}
.red14 A:link { FONT-FAMILY: "tahoma"; COLOR: #FF0065; TEXT-DECORATION: none;}
.red14 A:active { FONT-FAMILY: "tahoma";COLOR: #FF0065; TEXT-DECORATION: none;}
.red14 A:visited { FONT-FAMILY: "tahoma";COLOR: #FF0065; TEXT-DECORATION: none;}
.red14 A:hover { FONT-FAMILY: "tahoma";COLOR: #FF0065; TEXT-DECORATION: none;}

.red14_2 { FONT-SIZE: 14px;COLOR: #cc0000; FONT-FAMILY: "tahoma"; LINE-HEIGHT: 20px; font-weight:bold;}

.red12 { FONT-SIZE: 12px;COLOR: #cc0000; FONT-FAMILY: "tahoma"; LINE-HEIGHT: 20px;}
.red12 A:link { FONT-FAMILY: "tahoma"; COLOR: #cc0000; TEXT-DECORATION: none;}
.red12 A:active { FONT-FAMILY: "tahoma";COLOR: #cc0000; TEXT-DECORATION: none;}
.red12 A:visited { FONT-FAMILY: "tahoma";COLOR: #cc0000; TEXT-DECORATION: none;}
.red12 A:hover { FONT-FAMILY: "tahoma";COLOR: #FF0065; TEXT-DECORATION: none;}

.red12_2 { FONT-SIZE: 12px;COLOR: #FF0065; FONT-FAMILY: "tahoma"; LINE-HEIGHT: 20px;}
.red12_2 A:link { FONT-FAMILY: "tahoma"; COLOR: #FF0065; TEXT-DECORATION: underline;}
.red12_2 A:active { FONT-FAMILY: "tahoma";COLOR: #FF0065; TEXT-DECORATION: underline;}
.red12_2 A:visited { FONT-FAMILY: "tahoma";COLOR: #FF0065; TEXT-DECORATION: underline;}
.red12_2 A:hover { FONT-FAMILY: "tahoma";COLOR: #FF0065; TEXT-DECORATION: none;}

.blue14 { FONT-SIZE: 14px;COLOR: #216699; FONT-FAMILY: "tahoma"; LINE-HEIGHT: 20px; }
.blue14 A:link { FONT-FAMILY: "tahoma"; COLOR: #216699; TEXT-DECORATION: none;}
.blue14 A:active { FONT-FAMILY: "tahoma";COLOR: #216699; TEXT-DECORATION: none;}
.blue14 A:visited { FONT-FAMILY: "tahoma";COLOR: #216699; TEXT-DECORATION: none;}
.blue14 A:hover { FONT-FAMILY: "tahoma";COLOR: #FF0065; TEXT-DECORATION: none;}

.blue18 { FONT-SIZE: 18px;COLOR: #216699; FONT-FAMILY: "tahoma"; LINE-HEIGHT: 25px; font-weight:bold; }

.blue12 { FONT-SIZE: 12px;COLOR: #226699; FONT-FAMILY: "tahoma"; LINE-HEIGHT: 20px; }
.blue12 A:link { FONT-FAMILY: "tahoma"; COLOR: #226699; TEXT-DECORATION: none;}
.blue12 A:active { FONT-FAMILY: "tahoma";COLOR: #226699; TEXT-DECORATION: none;}
.blue12 A:visited { FONT-FAMILY: "tahoma";COLOR: #226699; TEXT-DECORATION: none;}
.blue12 A:hover { FONT-FAMILY: "tahoma";COLOR: #FF0065; TEXT-DECORATION: underline;}

.hui12 { FONT-SIZE: 12px;COLOR: #666666; FONT-FAMILY: "tahoma"; LINE-HEIGHT: 20px; }
.hui12 A:link { FONT-FAMILY: "tahoma"; COLOR: #666666; TEXT-DECORATION: none;}
.hui12 A:active { FONT-FAMILY: "tahoma";COLOR: #666666; TEXT-DECORATION: none;}
.hui12 A:visited { FONT-FAMILY: "tahoma";COLOR: #666666; TEXT-DECORATION: none;}
.hui12 A:hover { FONT-FAMILY: "tahoma";COLOR: #FF0065; TEXT-DECORATION: underline;}

.yellow12 { FONT-SIZE: 12px;COLOR: #FFFF00; FONT-FAMILY: "tahoma"; LINE-HEIGHT: 20px; }
.yellow12 A:link { FONT-FAMILY: "tahoma"; COLOR: #FFFF00; TEXT-DECORATION: none;}
.yellow12 A:active { FONT-FAMILY: "tahoma";COLOR: #FFFF00; TEXT-DECORATION: none;}
.yellow12 A:visited { FONT-FAMILY: "tahoma";COLOR: #FFFF00; TEXT-DECORATION: none;}
.yellow12 A:hover { FONT-FAMILY: "tahoma";COLOR: #FFFF00; TEXT-DECORATION: none;}

.hui14 { FONT-SIZE: 14px;COLOR: #666666; FONT-FAMILY: "tahoma"; LINE-HEIGHT: 20px; font-weight:bold;}
.hui14 A:link { FONT-FAMILY: "tahoma"; COLOR: #666666; TEXT-DECORATION: none;}
.hui14 A:active { FONT-FAMILY: "tahoma";COLOR: #666666; TEXT-DECORATION: none;}
.hui14 A:visited { FONT-FAMILY: "tahoma";COLOR: #666666; TEXT-DECORATION: none;}
.hui14 A:hover { FONT-FAMILY: "tahoma";COLOR: #FF0065; TEXT-DECORATION: none;}

.hui14_2 { FONT-SIZE: 14px;COLOR: #666666; FONT-FAMILY: "tahoma"; LINE-HEIGHT: 20px;}
.hui14_2 A:link { FONT-FAMILY: "tahoma"; COLOR: #666666; TEXT-DECORATION: none;}
.hui14_2 A:active { FONT-FAMILY: "tahoma";COLOR: #666666; TEXT-DECORATION: none;}
.hui14_2 A:visited { FONT-FAMILY: "tahoma";COLOR: #666666; TEXT-DECORATION: none;}
.hui14_2 A:hover { FONT-FAMILY: "tahoma";COLOR: #FF0065; TEXT-DECORATION: none;}

.hui122 { FONT-SIZE: 12px;COLOR: #999999; FONT-FAMILY: "tahoma"; LINE-HEIGHT: 20px;}
.hui122 A:link { FONT-FAMILY: "tahoma"; COLOR: #666666; TEXT-DECORATION: none;}
.hui122 A:active { FONT-FAMILY: "tahoma";COLOR: #666666; TEXT-DECORATION: none;}
.hui122 A:visited { FONT-FAMILY: "tahoma";COLOR: #666666; TEXT-DECORATION: none;}
.hui122 A:hover { FONT-FAMILY: "tahoma";COLOR: #FF0065; TEXT-DECORATION: none;}

.blue12_line { FONT-SIZE: 12px;COLOR: #226699; FONT-FAMILY: "tahoma"; LINE-HEIGHT: 20px; }
.blue12_line A:link { FONT-FAMILY: "tahoma"; COLOR: #226699; TEXT-DECORATION: underline;}
.blue12_line A:active { FONT-FAMILY: "tahoma";COLOR: #226699; TEXT-DECORATION: underline;}
.blue12_line A:visited { FONT-FAMILY: "tahoma";COLOR: #226699; TEXT-DECORATION: underline;}
.blue12_line A:hover { FONT-FAMILY: "tahoma";COLOR: #FF0065; TEXT-DECORATION: underline;}

.black12 { FONT-SIZE: 12px;COLOR: #333333; FONT-FAMILY: "tahoma"; LINE-HEIGHT: 20px; }
.black12 A:link { FONT-FAMILY: "tahoma"; COLOR: #333333; TEXT-DECORATION: none;}
.black12 A:active { FONT-FAMILY: "tahoma";COLOR: #333333; TEXT-DECORATION: none;}
.black12 A:visited { FONT-FAMILY: "tahoma";COLOR: #333333; TEXT-DECORATION: none;}
.black12 A:hover { FONT-FAMILY: "tahoma";COLOR: #FF0065; TEXT-DECORATION: none;}

.hui12_line { FONT-SIZE: 12px;COLOR: #666666; FONT-FAMILY: "tahoma"; LINE-HEIGHT: 20px; }
.hui12_line A:link { FONT-FAMILY: "tahoma"; COLOR: #666666; TEXT-DECORATION: underline;}
.hui12_line A:active { FONT-FAMILY: "tahoma";COLOR: #666666; TEXT-DECORATION: underline;}
.hui12_line A:visited { FONT-FAMILY: "tahoma";COLOR: #666666; TEXT-DECORATION: underline;}
.hui12_line A:hover { FONT-FAMILY: "tahoma";COLOR: #FF0065; TEXT-DECORATION: none;}

.img{padding:2px;border:1px solid #cccccc;margin:1px;}

.hei14 { FONT-SIZE: 12px;COLOR: #666666; FONT-FAMILY: "tahoma"; LINE-HEIGHT: 20px; font-weight:bold;}
.hei14 A:link { FONT-FAMILY: "tahoma"; COLOR: #666666; TEXT-DECORATION: none;}
.hei14 A:active { FONT-FAMILY: "tahoma";COLOR: #6666666; TEXT-DECORATION: none;}
.hei14 A:visited { FONT-FAMILY: "tahoma";COLOR: #666666; TEXT-DECORATION: none;}
.hei14 A:hover { FONT-FAMILY: "tahoma";COLOR: #666666; TEXT-DECORATION: none;}

.in_text{
	height:19px;
	border: 1px solid #cccccc;
	background-color:#FFFFFF;
	color:#666666;
	font-size:14px;
	vertical-align:middle;
	padding-left:10px;
	font-family: "tahoma";
	background-image: url(../images/bg_text_30.jpg);
	background-repeat: repeat-x;
	background-position: center top;
	padding-top:3px;
}

.num_red {
	FONT-SIZE: 18px;
	COLOR: #ff0000;
	FONT-FAMILY: Georgia, "Times New Roman", Times, serif;
	LINE-HEIGHT: 20px;
	font-style: italic;
	font-weight: bold;
}
